<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Thanh toán</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Thanh toán</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left" (click)="op2.toggle($event)"></p-button>
        <!-- <p-button [routerLink]="['them-ung-vien']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button> -->
      </div>
    </div>
  </div>

  <p-table [value]="paymentList" responsiveLayout="scroll" rowHover="true" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
          <th pFrozenColumn style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pFrozenColumn style="width: 50px;"></th>
          <th pFrozenColumn style="min-width:200px">Tên TK</th>
          <th style="min-width:200px">Khóa học</th>
          <th style="min-width:150px">Điện thoại</th>
          <th style="min-width:200px">Email</th>
          <th style="min-width:200px; display: flex; justify-content: center;">Thanh toán</th>
          <th style="min-width:200px">Ngày mua</th>
          <th style="min-width:200px">Ngày hết hạn</th>
          <th style="min-width:200px">Ngày sửa</th>
          <th style="min-width:200px">Người sửa</th>
          <th style="min-width:200px">Ghi chú</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr>
        <td pFrozenColumn style="width: 2.25em">
          <p-tableCheckbox [value]="payment"></p-tableCheckbox>
        </td>
        <td pFrozenColumn style="width: 50px" >
            <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
        </td>
        <td pFrozenColumn style="min-width:200px ;color: #0b5ed7; font-weight: 650;">
          {{payment.otherName}}
        </td>
        <td style="min-width: 200px;">{{payment.courseName}}</td>
        <td style="min-width: 150px;">{{payment.otherPhone}}</td>
        <td style="min-width: 200px;">{{payment.otherEmail}}</td>
        <td style="display: flex; justify-content: center; min-width: 200px;">
          <span *ngIf="payment.isPayment == 1" style="color: #0b5ed7"><i class="pi pi-check"></i></span>
          <span *ngIf="payment.isPayment == 0" style="color: #dc3545"><i class="pi pi-times"></i></span>
        </td>
        <td style="min-width: 200px;">{{payment.paymentDate}}</td>
        <td style="min-width: 200px;">{{payment.expireDate}}</td>
        <td style="min-width: 200px;">{{payment.modifiedDate}}</td>
        <td style="min-width: 200px;">{{payment.modifiedBy}}</td>
        <td style="min-width: 200px;">{{payment.comment}}</td>

      </tr>
      <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
        <ng-template pTemplate>
            <div class="option" (click)="acceptPayment(payment.id)">
                <i class="pi pi-check"></i> Duyệt
            </div>
            <div class="option" (click)="declinePayment(payment.id)">
              <i class="pi pi-times"></i> Hủy duyệt
            </div>
            <div class="option" (click)="deletePayment(payment.id)">
                <i class="pi pi-trash"></i> Xóa
            </div>
        </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
</div>

<p-paginator [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>

<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Trạng thái thanh toán</small>
          <p-dropdown [(ngModel)]="params.isPayment" [options]="statusOptions" placeholder="Quyền"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>