<div class="wrapper">
    <div class="header">
      <div class="guide">
        <span><i class="pi pi-home"></i></span>
        <i>/</i>
        <span>Quản trị</span>
        <i>/</i>
        <span>Footer</span>
        <i>/</i>
        <span class="active">Quản lý Footer</span>
      </div>
      <div class="header-2">
        <div class="header-left">
          <div class="empty"></div>
          <div class="main-title" *ngIf="footerId && footerId != 'them-ung-vien'" >Chi tiết Footer</div>
          <div class="main-title" *ngIf="footerId == 'them-ung-vien'" >Thêm Footer</div>
        </div>
        <div class="header-right">
        </div>
      </div>
    </div>
    
    <div class="detail grid">
      <div class="col-6">
        <small>Vị trí</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-spin pi-spinner"></i>
              <input type="text" pInputText [(ngModel)]="footer.position" />
            </span>
          </div>
      </div>
      <div class="col-6">
        <small>Thứ tự hiển thị</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-spin pi-spinner"></i>
              <input type="text" pInputText [(ngModel)]="footer.order" />
            </span>
          </div>
      </div>
      <div class="col-6 inputSwitch">
        <small>Hiển thị</small>
        <p-inputSwitch [(ngModel)]="footer.status"></p-inputSwitch>
      </div>
      <div class="col-12 ckeditor">
        <ckeditor [editor]="Editor" [(ngModel)]="footer.content"></ckeditor>
      </div>
      <div class="detail-action">
        <div class="cancel-btn">
          <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
        </div>
        <div class="save-btn">
          <p-button label="Lưu" (click)="save()" icon="pi pi-check"></p-button>
        </div>
      </div>
    </div>
</div>