<div class="wrapper">
    <div class="header">
        <div class="guide">
          <span><i class="pi pi-home"></i></span>
          <i>/</i>
          <span>Quản trị</span>
          <i>/</i>
          <span>Footer</span>
          <i>/</i>
          <span class="active">Quản lý Footer</span>
        </div>
        <div class="header-2">
          <div class="header-left">
            <div class="empty"></div>
            <div class="main-title">Chi tiết Footer</div>
          </div>
          <div class="header-right">
            <!-- <p-button [routerLink]="['them-ung-vien']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button> -->
          </div>
        </div>
    </div>
    <div>
        
    </div>
</div>