<div class="wrapper cth">

  <div class="header">
    <div class="guide">
      <!-- <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Lớp học</span> -->
    </div>
    <div class="header-2">
      <div class="header-left">
        <!-- <div class="empty"></div>
        <div class="main-title">Lớp học</div> -->
      </div>
      <div class="header-right">
        <!-- <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div> -->
        <p-button (click)="showDialog(newSchedule)" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>

  <div class="card">
    <p-table [value]="coursesSchedule" dataKey="id" rowHover="true" >
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn style="width: 30px"></th>
                <th pSortableColumn="code">Tên <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">Thứ tự <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="category">Trạng Thái <p-sortIcon field="category"></p-sortIcon></th>
                <th pFrozenColumn style="width: 30px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-courseSchedule>
            <tr>
              <td pFrozenColumn style="width: 30px">
                <button *ngIf="courseSchedule.tests.length > 0" type="button" pButton pRipple [pRowToggler]="courseSchedule" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>{{courseSchedule.name}}</td>
              <td>{{courseSchedule.order}}</td>
              <td *ngIf="courseSchedule.status == 1"><i class="pi pi-check" style="font-size: 1.5rem"></i></td>
              <td *ngIf="courseSchedule.status == 0"><i class="pi pi-times" style="font-size: 1.5rem"></i></td>
              <td pFrozenColumn style="width: 30px" >
                <span class="choose">
                  <i class="pi pi-plus" [routerLink]="[courseSchedule.id, 'them-moi']"></i>
                  <i (click)="op.toggle($event)" class="pi pi-ellipsis-v"></i>
                </span>

                <!-- <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span> -->
              </td>
            </tr>
            <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
              <ng-template pTemplate>
                  <div class="option" (click)="showDialog(courseSchedule); op.toggle($event)">
                      <i class="pi pi-pencil"></i>
                      Sửa
                  </div>
                  <div class="option" (click)="deleteCourseSchedule(courseSchedule)">
                      <i class="pi pi-trash"></i>
                      Xóa
                  </div>
              </ng-template>
            </p-overlayPanel>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-courseSchedule >
          <tr>
            <td colspan="7">
              <div class="p-p-3">
                <p-table [value]="courseSchedule.tests" dataKey="id" rowHover="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Tên</th>
                      <th style="min-width: 110px;">Loại bài</th>
                      <th>Thời gian (phút)</th>
                      <th style="min-width: 140px;">Hạn nộp</th>
                      <th style="min-width: 110px;">Trạng thái</th>
                      <th style="min-width: 110px;">Miễn phí</th>
                      <th style="min-width: 110px;">Tự gửi Mail</th>
                      <th style="min-width: 110px;">KT năng lực</th>
                      <th style="width: 30px"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order.name}}</td>
                      <td style="min-width: 110px;">{{order.testCategoryName}}</td>
                      <td>{{order.time}}</td>
                      <td style="min-width: 140px;">{{order.deadlineDate}}</td>
                      <td style="min-width: 110px;">
                        <span *ngIf="order.status == 1" style="color: #0b5ed7"><i class="pi pi-check"></i></span>
                        <span *ngIf="order.status == 0" style="color: #dc3545"><i class="pi pi-times"></i></span>
                      </td>
                      <td style="min-width: 110px;">
                        <span *ngIf="order.isFree == 1" style="color: #0b5ed7"><i class="pi pi-check"></i></span>
                        <span *ngIf="order.isFree == 0" style="color: #dc3545"><i class="pi pi-times"></i></span>
                      </td>
                      <td style="min-width: 110px;">
                        <span *ngIf="order.isAutoSendMail == 1" style="color: #0b5ed7"><i class="pi pi-check"></i></span>
                        <span *ngIf="order.isAutoSendMail == 0" style="color: #dc3545"><i class="pi pi-times"></i></span>
                      </td>
                      <td style="min-width: 110px;">
                        <span *ngIf="order.isShowInAbilityTest == 1" style="color: #0b5ed7"><i class="pi pi-check"></i></span>
                        <span *ngIf="order.isShowInAbilityTest == 0" style="color: #dc3545"><i class="pi pi-times"></i></span>
                      </td>
                      <td style="width: 30px">
                        <span class="choose">
                          <!-- <i class="pi pi-plus"></i> -->
                          <i (click)="op2.toggle($event)" class="pi pi-ellipsis-v"></i>
                        </span>
                      </td>
                      <p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '180px'}">
                        <ng-template pTemplate>
                            <div class="option" [routerLink]="[courseSchedule.id, order.id]">
                                <i class="pi pi-pencil"></i> Sửa
                            </div>
                            <div class="option" (click)="deleteTestCourseSchedule(courseSchedule.id, order.id)">
                                <i class="pi pi-trash"></i> Xóa
                            </div>
                        </ng-template>
                      </p-overlayPanel>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Thêm/Sửa chương trình học" [(visible)]="displayBasic" [style]="{width: '40vw'}">
  <div class="detail">
    <div class="col-12">
      <small>Tên chương trình</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-user"></i>
          <input id="name" type="text" aria-describedby="avatar-help" pInputText [(ngModel)]="editSchedule.name" name="name" />
        </span>
      </div>
    </div>
    <div class="col-12">
      <small>Thứ tự</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-sort-numeric-down"></i>
          <input id="order" type="text" aria-describedby="avatar-help" pInputText [(ngModel)]="editSchedule.order" name="order" />
        </span>
      </div>
    </div>
    <div class="col-12 inputSwitch">
      <small>Hiển thị</small>
      <p-inputSwitch [(ngModel)]="editSchedule.status" name="status"></p-inputSwitch>
    </div>
  </div>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayBasic=false; postCourseSchedule(editSchedule)" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>