<div class="wrapper">

  <div class="card">
    <p-table [value]="coursesSchedule">
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn></th>
                <th pSortableColumn="code">Tên <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">Thứ tự <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="category">Trạng Thái <p-sortIcon field="category"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-courseSchedule>
            <tr>
              <td pFrozenColumn style="min-width: 50px" >
                <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
              </td>
              <td>{{courseSchedule.name}}</td>
              <td>{{courseSchedule.order}}</td>
              <td *ngIf="courseSchedule.status == 1"><i class="pi pi-check" style="font-size: 1.5rem"></i></td>
              <td *ngIf="courseSchedule.status == 0"><i class="pi pi-times" style="font-size: 1.5rem"></i></td>
            </tr>
            <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
              <ng-template pTemplate>
                  <div class="option" [routerLink]="[courseSchedule.id]">
                      <i class="pi pi-pencil"></i> Sửa
                  </div>
                  <div class="option" >
                      <i class="pi pi-trash"></i> Xóa
                  </div>
              </ng-template>
            </p-overlayPanel>
        </ng-template>
    </p-table>
  </div>
</div>