.header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .record {
  text-align: end;
}

.header .record span {
  color: blue;
}

.header .title {
  font-weight: bold;
}

.list {
  display: flex;
}
.item {
  margin: 10px;
}