.wrapper {
  padding: 5px;
  margin: 6px;
  box-shadow: 0 2px 7px -2px rgb(70 131 243 / 70%);
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.wrapper:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px -3px #1b4ead;
  color: #1b4ead;
}


img {
  padding: 5px;
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.title2 {
  font-size: 18px;
  font-weight: 700;
  height: 55px;
  padding: 5px;
  color: #2c2b2b;
  letter-spacing: 1px;
  overflow: hidden;
}

.infor {
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

.infor img {
  /* font-size: 14px; */
  padding: 0;
  width: 16px;
  height: 16px;
}

.date {
  padding: 5px;
}