<hr>
<div class="main-footer">
  <div class="footer-item">
    <h3>Chăm sóc khách hàng</h3>
    <p>Trung tâm trợ giúp</p>
    <p>Email: hotro@vuihoc.vn</p>
    <p>Đường dây nóng: 0123 456 789</p>
  </div>
  <div class="footer-item">
    <h3>Chăm sóc khách hàng</h3>
    <p>Hình thức thanh toán</p>
    <p>Liên hệ chúng tối</p>
    <p>Sơ đồ trang web</p>
  </div>
  <div class="footer-item">
    <h3>VỀ HOCHIEUQUA</h3>
    <p>Hình thức thanh toán</p>
    <p>Liên hệ chúng tối</p>
    <p>Sơ đồ trang web</p>
  </div>
  <div class="footer-item">
    <h3>Sân chơi</h3>
    <p>Hình thức thanh toán</p>
    <p>Liên hệ chúng tối</p>
    <p>Sơ đồ trang web</p>
  </div>
</div>

<hr>
<div class="grid" *ngIf="footer && footer.length">
  <div class="col-8">
    <div [innerHTML]="footer[0]?.content"></div>
  </div>
  <div class="col-4">
    <div [innerHTML]="footer[1]?.content"></div>
  </div>
</div>