.detail {
  max-width: 220px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: .4s ease-in-out;
  box-shadow: 0 2px 7px -2px rgb(70 131 243 / 70%);
  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px -3px #1b4ead;
  }
  .image {
    border-radius: 10px;
    // min-width: 186px;
  }
}

.info {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-name { 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0069da;
  font-size: 17px;
  font-weight: 700;
  padding-top: 8px;
}

.description {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.price {
  text-align: right;
}

.price-main {
  font-size: 14px;
  text-decoration: line-through;
}

.price-discount {
  font-weight: bold;
}
