<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Bài kiểm tra</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Bài kiểm tra</div>
      </div>
      <div class="header-right">
        <!-- <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
        </span> -->
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-moi']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>

  <p-table [value]="tests" responsiveLayout="scroll" [scrollable]="true" rowHover="true" *ngIf="!isLoading">
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pFrozenColumn style="width: 60px;"></th>
            <th pFrozenColumn style="min-width: 500px;">Tên</th>
            <th style="min-width: 200px">Hạn nộp</th>
            <th style="min-width: 150px">Loại bài</th>
            <th style="min-width: 150px">Miễn phí</th>
            <th style="min-width: 150px">Gửi mail</th>
            <th style="min-width: 150px">Trạng thái</th>
            <th style="min-width: 150px">KT năng lực</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-test>
        <tr>
            <td pFrozenColumn style="width: 2.25em">
              <p-tableCheckbox [value]="test"></p-tableCheckbox>
            </td>
            <td pFrozenColumn style="width: 60px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td pFrozenColumn style="color: #0b5ed7; font-weight: 650; min-width: 500px;">{{test.name}}</td>
            <td style="min-width: 200px;">{{test.deadlineDate != 'Invalid date' ? test.deadlineDate : ''}}</td>
            <td style="min-width: 150px;">{{test.testCategoryName}}</td>
            <td style="min-width: 150px;">
              <!-- <div *ngIf="test.isFree == 1"><i class="pi pi-check" style="font-size: 1.5rem"></i></div>
              <div *ngIf="test.isFree == 0"><i class="pi pi-times" style="font-size: 1.5rem"></i></div> -->
              <span class="colorful" [ngClass]="test.isFree == 0 ? 'fail' : 'passed' " *ngIf="test.isFree == 1">Miễn phí</span>
              <span class="colorful" [ngClass]="test.isFree == 0 ? 'fail' : 'passed' " *ngIf="test.isFree == 0">Mất phí</span>
            </td>
            <td style="min-width: 150px;">
              <span class="colorful" [ngClass]="test.isAutoSendMail == 0 ? 'fail' : 'passed' " *ngIf="test.isAutoSendMail == 1">Gửi</span>
              <span class="colorful" [ngClass]="test.isAutoSendMail == 0 ? 'fail' : 'passed' " *ngIf="test.isAutoSendMail == 0">Không</span>
            </td>
            <td style="min-width: 150px;">
              <!-- <div *ngIf="test.status == 0"><i class="pi pi-times" style="font-size: 1.5rem"></i></div>
              <div *ngIf="test.status == 1"><i class="pi pi-check" style="font-size: 1.5rem"></i></div> -->
              <span class="colorful" [ngClass]="test.status == 0 ? 'fail' : 'passed' " *ngIf="test.status == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="test.status == 0 ? 'fail' : 'passed' " *ngIf="test.status == 0">Ẩn</span>
            </td>
            <td style="min-width: 150px;">
              <span class="colorful" [ngClass]="test.isShowInAbilityTest == 0 ? 'fail' : 'passed' " *ngIf="test.isShowInAbilityTest == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="test.isShowInAbilityTest == 0 ? 'fail' : 'passed' " *ngIf="test.isShowInAbilityTest == 0">Ẩn</span>
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[test.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" >
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
      </ng-template>
  </p-table>
  
  <p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
</div>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Loại bài</small>
          <p-dropdown [(ngModel)]="params.testCategoryId" [options]="testCategoryOptions"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Lớp học</small>
          <p-dropdown [(ngModel)]="params.classId" [options]="classOptions" (onChange)="getSubjectOption()" placeholder="Lớp học"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Môn học</small>
          <p-dropdown [(ngModel)]="params.subjectId" [options]="subjectOptions" placeholder="Môn học"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Hiển thị kiểm tra năng lực</small>
          <p-dropdown [(ngModel)]="params.IsShowInAbilityTest" [options]="IsShowInAbilityTestOption" placeholder="Hiển thị kiểm tra năng lực" (onChange)="onSearch()"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>