<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Trợ giúp</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Trợ giúp</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="query.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-moi']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>

  <p-table [value]="guides" rowHover="true" responsiveLayout="scroll" *ngIf="!isLoading">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> 
        <th pFrozenColumn style="min-width: 50px;"></th>
        <th>Tiêu đề</th>
        <th>Màn hình</th>
        <th>Sắp xếp</th>
        <th>Trạng thái </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-guide>
      <tr>
        <td>
          <p-tableCheckbox [value]="guide"></p-tableCheckbox>
        </td>
        <td pFrozenColumn style="min-width: 50px" >
          <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
        </td>
        <td>{{guide.title}}</td>
        <td>{{guide.screen}}</td>
        <td>{{guide.order}}</td>
        <td>
          <span  class="colorful" [ngClass]="guide.status == 0 ? 'fail' : 'passed' " *ngIf="guide.status == 0">Ẩn</span>
          <span  class="colorful" [ngClass]="guide.status == 0 ? 'fail' : 'passed' " *ngIf="guide.status == 1">Hiển thị</span>
        </td>
      </tr>
      <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
        <ng-template pTemplate>
            <div class="option" [routerLink]="[guide.id]">
                <i class="pi pi-pencil"></i> Sửa
            </div>
            <div class="option" (click)="confirmDeleteGuide(guide.id)" >
                <i class="pi pi-trash"></i> Xóa
            </div>
        </ng-template>
    </p-overlayPanel>
    </ng-template>
  </p-table>
</div>
<p-paginator [rows]="query.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Màn hình</small>
          <p-dropdown [(ngModel)]="query.screen" [options]="screenOptions" placeholder="Màn hình" (onChange)="onSearch()"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>