<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Khóa học</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Khóa học</div>
      </div>
      <div class="header-right">
        <!-- <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
        </span> -->
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-khoa-hoc']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  
  <p-table [value]="courses" responsiveLayout="scroll" [scrollable]="true" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 50px" pFrozenColumn>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pFrozenColumn style="width: 60px;"></th>
            <th pFrozenColumn style="min-width:150px">Hình ảnh</th>
            <th pFrozenColumn style="min-width:200px">Tên</th>
            <th style="min-width:200px">Hiển thị</th>
            <!-- <th>Giáo viên</th> -->
            <th style="min-width:200px">Giá</th>
            <th style="min-width:200px">Giá giảm</th>
            <th style="min-width:200px">Lớp học</th>
            <th style="min-width:200px">Môn học</th>
            <th style="min-width:200px">Mã</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td pFrozenColumn>
              <p-tableCheckbox [value]="course"></p-tableCheckbox>
            </td>
            <td pFrozenColumn style="width: 60px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td pFrozenColumn style="min-width:150px">
              <img [src]="course.courseAvatar" [alt]="course.name" width="80" class="shadow-4" />
            </td>
            <td pFrozenColumn style="min-width:200px">{{course.name}}</td>
            <td style="min-width:200px">
              <span class="colorful" [ngClass]="course.status == 0 ? 'fail' : 'passed' " *ngIf="course.status == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="course.status == 0 ? 'fail' : 'passed' " *ngIf="course.status == 0">Ẩn</span>
            </td>
            <!-- <td>{{course.teacherName}}</td> -->
            <td style="min-width:200px">{{course.price}}</td>
            <td style="min-width:200px">{{course.priceDiscount}}</td>
            <td style="min-width:200px">{{course.classRoomName}}</td>
            <td style="min-width:200px">{{course.subjectName}}</td>
            <td style="min-width:200px">{{course.code}}</td>
          </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[course.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="confirmDeleteCourse(course.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
  
  <p-paginator [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5, 10, 25]"></p-paginator>
</div>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Giáo viên</small>
          <p-dropdown [(ngModel)]="params.teacherId" [options]="teacherOptions" placeholder="Giáo viên"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Lớp học</small>
          <p-dropdown [(ngModel)]="params.classId" [options]="classOptions" (onChange)="getSubjectOption()" placeholder="Lớp học"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Môn học</small>
          <p-dropdown [(ngModel)]="params.subjectId" [options]="subjectOptions" placeholder="Môn học"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>

