<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Bài viết</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Bài viết</div>
      </div>
      <div class="header-right">
        <!-- <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
        </span> -->
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-moi']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  
  <p-table [value]="news" responsiveLayout="scroll" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> 
            <th pFrozenColumn style="min-width: 50px;"></th>
            <th style="min-width: 150px;">Hình ảnh</th>
            <th>Tiêu đề</th>
            <th>Danh mục</th>
            <th>Hiển thị</th>
            <th>Sắp xếp</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-new >
        <tr>
          <td>
            <p-tableCheckbox [value]="new"></p-tableCheckbox>
          </td>
          <td pFrozenColumn style="min-width: 50px" >
            <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
          </td>
          <td>
            <img [src]="new.avatar" (error)="errorHandler($event)" [alt]="new.name" width="100" height="60" style="object-fit: cover;" class="shadow-4" /></td>
          <td>{{new.title}}</td>
          <td>{{new.categoryName}}</td>
          <td>
            <span class="colorful" [ngClass]="new.status == 0 ? 'fail' : 'passed' " *ngIf="new.status == 1">Hiển thị</span>
            <span class="colorful" [ngClass]="new.status == 0 ? 'fail' : 'passed' " *ngIf="new.status == 0">Ẩn</span>
          </td>
          <td>
            {{new.order}}
          </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[new.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="confirmDeleteNew(new.id)" >
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
  
  <p-paginator [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>
</div>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Danh mục</small>
          <p-dropdown [(ngModel)]="params.categoryId" [options]="categoryIdOptions" placeholder="Danh mục"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Trạng thái</small>
          <p-dropdown [(ngModel)]="params.status" [options]="statusOptions" placeholder="Trạng thái"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>
