
.tab {
  background: #fff;
  border: 0 solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #6c757d;
  font-weight: 600;
  margin: 0 0 -2px;
  padding: 1rem;
  transition: box-shadow .2s;
}

.title2:hover {
  cursor: pointer;
}

::ng-deep .p-tabview-title {
  font-size: 15px;
}

::ng-deep .title2 {
  color: #495057;
  font-size: 14px;
}

::ng-deep .title2:hover {
  cursor: pointer;
  color: rgb(108, 108, 207);
}