<div class="user-wrapper">
  <div class="header-left">
    <div class="empty"></div>
    <div class="main-title">Những câu hỏi thường gặp</div>
  </div>
  <div class="huong-dan">
    <div class="huong-dan-menu">
      <div  class="faq-list" >
        <div *ngFor="let faq of FAQs; index as idx">
          <p class="faq-item" (click)="onSelect(faq)" [ngClass]="faq.id == faqSelected ? 'active' : '' ">{{idx + 1}}.{{faq.title}}</p>
        </div>
      </div> 
    </div>
    <div class="huong-dan-content">
      <p style="font-weight: bold;">{{title}}</p>
      <div [innerHTML]="content"></div>
    </div>
  </div>
</div>



