.huong-dan {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 10px;
  font-size: 15px;
}

.title {
  font-weight: bold;
}

.faq-list {
  word-wrap: break-word;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
}

.faq-item {
  margin: 0;
  padding: 10px 0;
  padding-left: 10px;
}

.faq-item:hover {
  border-radius: 5px;
  background: rgba(30,143,255,.123);
  transition: .1s ease-in-out;
}

.huong-dan-content {
  padding-top: 10px;
  min-width: 100%;
}

.active {
  border-radius: 5px;
  background: rgba(7, 65, 122, 0.123);
  font-weight: bold;
}

.fromAdmin {
  width: 100% !important;
}