
.danhmuc-item {
  display: flex;
  border-bottom: 1px solid #cacaca;
  color: #2c2b2b;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 0;
  
}

.text:hover {
  color: rgb(108, 108, 207);
}

.text img {
  margin-right: 5px;
  height: 30px;
  width: 30px;
}