<div class="user-wrapper wrapper">
  <div class="bai-hoc-wrapper">
    <div class="bai-hoc-left">
      <div class="name">{{testDetail.name}}</div>
      <div class="testUser-time">
        <span>
          <i class="pi pi-users"></i>
          Giáo viên {{testDetail.testUsers ? testDetail.testUsers : '--'}}
        </span>
        <span style="margin-left: 10px;">
          <i class="pi pi-clock"></i>
          {{testDetail.time ? testDetail.time : '--'}} phút 
        </span>
      </div>
      <div class="clip">
        <div class="video" >
          <iframe width="100%" height="400" [src]="testDetail.videoUrl" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <!-- <div class="altVideo" *ngIf="!testDetail.videoUrl">
          <img src="https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg" />
        </div> -->
      </div>
      <div class="description">
        <div [innerHTML]="testDetail.description"></div>
      </div>
      <div class="comments">
        <app-comment></app-comment>
      </div>
    </div>
    <div class="bai-hoc-right">
      <p-accordion multiple="true" *ngFor="let course of courseSchedules">
        <p-accordionTab [selected]="true" [header]="course.name">
          <div *ngFor="let test of course.tests" class="test" (click)="routerFunc(test.id)">
            <div class="isFreeLogo">
              <img *ngIf="test.isFree" src="https://hochieuqua7.web.app/images/common/icons/blue/shopping/2981255.png" width="30px" height="30px"/>
            </div>
            <div class="main-test">
              <p style="width: 85%;">{{test.name}}</p>
              <div class="actions">
                <span *ngIf="test.testCategoryCode == 'kiem-tra' ">
                  <i class="pi pi-copy"></i>
                </span>
                <span *ngIf="test.testCategoryCode == 'bai-giang' ">
                  <!-- <i class="pi pi-play"></i> -->
                  <img height="29px" width="29px"  *ngIf="test.isTestViewed == '1'" src="https://hochieuqua7.web.app/images/common/icons/blue/rating/5197707.png"/>
                  <img  height="29px" width="29px" *ngIf="test.isTestViewed == '0'" src="https://hochieuqua7.web.app/images/common/icons/blue/rating/play.png"/>
                </span>
              </div>            
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>