<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Menu</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Quản trị menu người dùng</div>
      </div>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="Menu">
      <app-menu></app-menu>
    </p-tabPanel>
    <p-tabPanel header="Hành động">
      <app-hanh-dong></app-hanh-dong>
    </p-tabPanel>
    <p-tabPanel header="Nhóm quyền">
      <app-nhom-quyen></app-nhom-quyen>
    </p-tabPanel>
  </p-tabView>
</div>