<div class="grid">
    <div class="col-3">
      <div class="rootFolder">
        <p-button (click)="showBasicDialog(true)" label="Thư mục gốc" icon="pi pi-folder"></p-button>
      </div>
      <p-tree [value]="dataOption" selectionMode="single" [(selection)]="selectItem" (onNodeSelect)="nodeSelect($event)" [contextMenu]="cm"></p-tree>
      <p-contextMenu #cm [model]="contextItems"></p-contextMenu>
    </div>
    <div class="col-9">
      <div class="rootFolder right list-action" *ngIf="isChoose">
        <p-button (click)="showDisplayUpload()" label="Thêm file" icon="pi pi-file"></p-button>
        <p-button (click)="showBasicDialog(false)" label="Thêm thư mục" icon="pi pi-folder"></p-button>
      </div>
      <div class="fileWrapper">
        <div class="fileItem" *ngFor="let file of listFiles">
          <div class="image">
            <img [src]="'https://tank8.bsite.net/images/' + file.url" />
          </div>
          <div class="options">
            <i style="margin-left: 5px; display: flex; align-items: center;" *ngIf="file.type == 'image'" class="pi pi-images"></i>
            <i style="margin-left: 5px; display: flex; align-items: center;" *ngIf="file.type != 'image'" class="pi pi-video"></i>
            <div class="action">
              <i (click)="selectImage(file.url)" style="color: #007bff;" class="pi pi-check"></i>
              <i (click)="deleteImage(file)" style="color: #dc3545;" class="pi pi-times"></i>
            </div>
          </div>
          <div class="name">
            <small>{{file.name}}</small>
          </div>
        </div>
      </div>
    </div>
</div>

<p-dialog header="Thêm thư mục" [(visible)]="displayBasic" [style]="{width: '600px'}" closable="true">
    <div class="dialog-field">
      <div>Tên thư mục</div>
      <input type="text" pInputText [(ngModel)]="nameFolder"> 
    </div>
    <div class="dialog-btn">
      <p-button (click)="addFolder()" label="Lưu lại" icon="pi pi-check"></p-button>
    </div>
</p-dialog>

<p-dialog header="Upload" [(visible)]="displayUpload" [style]="{width: '600px'}">
    <div class="grid">
        <div class="col-5 col-left">
          <img *ngIf="!isChooseImg" [src]="defaultAvatar" height="200px" width="100%" style="object-fit: cover;"/>
          <div class="w-full flex justify-content-center">
            <label class="avatar-survey" for='avatar-survey'>
              <i class="pi pi-upload"></i> Tải file lên
            </label>
            <input (change)="onUploadOutput($event)"
                    accept="image/jpeg,image/png,image/jpg,image/gif" type="file" style="display: none;" id='avatar-survey' class="myfile1">  
          </div>
        </div>
        <div class="col-7 col-right image-detail">
          <div>
            <div style="margin-bottom: 15px;">
              <span style="font-size: 16px; font-weight: 600;">Thông tin ảnh</span>
            </div>
            <div class="mb-2">
              <span>Tên ảnh: </span> <span class="value">{{fileName}}</span>
            </div>
            <div class="mb-2">
              <span>Chiều cao: </span> <span class="value">{{imageHeight}} px</span>
            </div>
            <div class="mb-2">
              <span>Chiều rộng: </span> <span class="value">{{imageWidth}} px</span>
            </div>
            <div class="mb-2">
              <span>Loại file: </span> <span class="value">{{fileType}}</span>
            </div>
            <div class="mb-2">
              <span>Kích thước: </span> <span class="value">{{fileSize}} Kb</span>
            </div>
          </div>
          <p-button styleClass="w-full mt-4" (click)="uploadImage()" label="Lưu lại"></p-button>
        </div>
    </div>
</p-dialog>