.classabc {
  cursor: pointer;
  width: 100%;
  margin: 0;
  padding: 8px 0 8px 2px;
}

.active {
  background-color: rgb(199, 199, 219);
  border-radius: 5px;
}

.content {
  max-height: 80vh;
  overflow: auto;
}

.content img {
  height: 70vh;
}