<div class="user-wrapper">
  <div class="header">
    <div class="guide">
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Các đề ôn thi hay</div>
      </div>
      <div class="header-right">
        <p-dropdown [options]="classList" label="Lớp học" [(ngModel)]="classId" (onChange)="getSubject(classId)"></p-dropdown>
        <p-dropdown [options]="subjectList" label="Môn học" [(ngModel)]="subjectId" (onChange)="getTest()"></p-dropdown>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="tests.length == 0">
      <p style="text-align: center; margin-top: 20px">Không có dữ liệu hiển thị</p>
      <img src="https://hochieuqua7.web.app/images/course/not-found2.gif" width="100%"/>
    </div>
    <div *ngFor="let test of tests; let i = index">
      <app-test2 [test]="test" [index]="i"></app-test2>
    </div>
  </div>
</div>