<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./download.scss">
</head>
<body>
  <div class="thong-bao" id="your-template-id">
    <!-- <div class="actions mb-1">
      <p-button (click)="exitResult()" label="Thoát" icon="pi pi-times" iconPos="left" class="mr-1"></p-button>
      <p-button (click)="downloadResult()" label="Download" icon="pi pi-cloud-download" iconPos="left"></p-button>
    </div> -->
    <div class="pointer">
      <div class="banner">
        <img src="https://hochieuqua7.web.app/images/common/bg-sharp.png" />
        <h3>Chúc mừng con đã hoàn thành bài thi</h3>
      </div>
      <div class="point">
        <div class="bg-up"></div>
        <div class="bg-down"></div>
        <div class="result-info">
          <div class="info-wrapper">
            <div class="result-avatar">
              <img src="https://hochieuqua7.web.app/images/logo.png"/>
            </div>
            <div class="result-user">
              <div>
                Họ tên: <span>Nguyen Tuan Dung</span>
              </div>
              <div>
                Ngày sinh: <span>--</span>
              </div>
              <div>
                Điện thoại: <span>012345678</span>
              </div>
            </div>
          </div>
          <div class="result-score">
            <img src="https://hochieuqua7.web.app/images/common/score.png" />
            <span>10đ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="score">
        <img height="100px" width="100px" src="https://hochieuqua7.web.app/images/common/ong3.png" />
        <span style="font-size: 18px">Thông báo kết quả</span>
        <div>
          Số câu đúng: <span>5</span>
        </div>
        <div>
          Số câu sai: <span>5</span>
        </div>
        <div>
          Tổng số câu: <span>5</span>
        </div>
        <div>
          Tổng điểm: <span>5</span>
        </div>
      </div>
      <div class="nhan-xet">
        <img height="100px" width="100px" src="https://hochieuqua7.web.app/images/common/ong2.png" />
        <span style="font-size: 18px">Nhận xét của giáo viên</span>
        <div>Xuất mẹ mày sắc</div>
      </div>
    </div>
    <div class="bt-banner">
      <img src="https://hochieuqua7.web.app/images/common/bg-sharp.png" />
    </div>
  </div>
</body>
</html>