.wrapper {
  // width: 70%;
  // margin: 0 auto;
  z-index: -10;
}

.colorful {
  padding: 2px 5px;
  border-radius: 8px;

}
.fail {
  background-color: #dc3545;
  color: #fff;
}

.passed {
  background-color: #007bff;
  color: #fff;
}

// ::ng-deep .p-submenu-list {
//   z-index: 10000;
// }

// ::ng-deep .p-datatable-thead {
//   z-index: -100;
// }