<div class="abc">
  <i class="pi pi-home"></i>
  / Khóa học của tôi
</div>

<div class="main">
  <div class="grid">
    <div class="grid col-3">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div [routerLink]="['/tai-khoan/thong-tin-tai-khoan']">
          <i class="pi pi-user"></i> Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <i class="pi pi-qrcode"></i> Đổi mật khẩu
        </div>
        <div class="active">
          <i class="pi pi-slack"></i> Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']"> 
          <i class="pi pi pi-key"  ></i> Kích hoạt khóa học
        </div>
        <div [routerLink]="['/tai-khoan/qua-trinh-hoc-tap']">
          <i class="pi pi-sitemap" ></i> Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12">
        <h4>Khóa học của tôi</h4>
        <div *ngIf="myCourses.length == 0">
          <img src="https://hochieuqua7.web.app/images/common/table-not-found.gif" height="300px" width="100%"/>
        </div>
        <div *ngIf="myCourses.length > 0" class="flex">
          <div class="m-2" *ngFor="let myCourse of myCourses">
            <app-tong-quan-item [course]="myCourse"></app-tong-quan-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>