<div class="user-wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span class="active">Khóa học của tôi</span>
    </div>
  </div>
  <div class="grid">
    <div class="grid col-3">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div [routerLink]="['/tai-khoan/thong-tin-ca-nhan']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403820.png"/>Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/ecommerce/3537059.png"/>Đổi mật khẩu
        </div>
        <div [routerLink]="['/tai-khoan/khoa-hoc-cua-toi']" class="activee">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/office/5204849.png"/>Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403561.png"/>Kích hoạt khóa học
        </div>
        <div [routerLink]="['/tai-khoan/qua-trinh-hoc-tap']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/delivery/3861415.png"/>Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12">
        <h4>Khóa học của tôi</h4>
        <div *ngIf="myCourses.length == 0">
          <img src="https://hochieuqua7.web.app/images/common/table-not-found.gif" height="300px" width="100%"/>
        </div>
        <div *ngIf="myCourses.length > 0" class="courseWrapper">
          <div class="m-2" *ngFor="let myCourse of myCourses">
            <app-tong-quan-item [course]="myCourse"></app-tong-quan-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>