<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div [ngClass]="isDisplayDialog ? 'active' : '' ">
  <div class="header">
    <p>{{detailRecruit.name}}</p>
  </div>
  <div class="wrapper"> 
    <div class="ung-tuyen">
      <p-button label="Ứng tuyển ngay" (onClick)="onDisplayDialog()"></p-button>
    </div>
    <div class="des">
      <p><i class="pi pi-tags mr-2"></i>{{detailRecruit.tags}}</p>
      <p><i class="pi pi-map-marker mr-2"></i>{{detailRecruit.address}}</p>
      <p><i class="pi pi-calendar-plus mr-2"></i>{{detailRecruit.modifiedDate}}</p>
    </div>
    <div class="detail">
      <div class="requirement" [innerHTML]="detailRecruit.requirement"></div>
      <div class="content" [innerHTML]="detailRecruit.content"></div>
    </div>
  </div>
</div>


<p-dialog  [(visible)]="isDisplayDialog" [style]="{width: '600px', height: '500px'}">
  <form (ngSubmit)="onSubmit()">
    <div style="text-align: center ;">
      <p>Ứng tuyển</p>
    </div>
    <div class="field">
      <label for="username1" class="block">Họ tên *</label>
      <span class="p-input-icon-right">
        <i class="pi pi-user"></i>
        <input required type="text" pInputText placeholder="Họ tên" [(ngModel)]="name" name="name" #nameInput="ngModel" />
      </span>
    </div>
    <div *ngIf="nameInput.touched && nameInput.invalid">
      <p style="color: red; font-size: 10px;">Vui lòng nhập họ tên</p>
    </div>

    <div class="field">
      <label for="username1" class="block">Email *</label>
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" pInputText placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel"/>
      </span>
    </div>
    <div *ngIf="emailInput.touched && emailInput.invalid">
      <p style="color: red; font-size: 10px;">Vui lòng nhập đúng định dạng Email</p>
    </div>
    <div class="field">
      <label for="username1" class="block">Số điện thoại *</label>
      <span class="p-input-icon-right">
        <i class="pi pi-phone"></i>
        <input required type="number" pInputText placeholder="Số điện thoại" [(ngModel)]="phone" name="phone" #phoneInput="ngModel"/>
      </span>
    </div>
    <div *ngIf="phoneInput.touched && phoneInput.invalid">
      <p style="color: red; font-size: 10px;">Vui lòng nhập số điện thoại</p>
    </div>

    <div class="field">
      <label for="username1" class="block">Ghi chú</label>
      <span class="p-input-icon-right">
        <i class="pi pi-comments"></i>
        <input type="text" pInputText placeholder="Ghi chú" [(ngModel)]="note" name="note"/>
      </span>
    </div>
  </form>

  <ng-template pTemplate="footer">
      <!-- <button style="margin: 10px" pButton pRipple (click)="isDisplayDialog=false" label="Cancel" icon="pi pi-times"></button> -->
      <button
        [disabled]="nameInput.invalid || emailInput.invalid || phoneInput.invalid"
        style="margin: 10px" 
        type="submit" 
        pButton pRipple 
        label="Gửi ứng tuyển" 
        icon="pi pi-check"
        (click)="onSubmit()"
        >
      </button>
  </ng-template>

</p-dialog>