.header {
  font-size: 20px;
  font-weight: bolder;
}

.banner img {
  width: 100%;
  height: 150px;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 7px -2px rgb(70 131 243 / 70%);
  .description {
    display: flex;
    img {
      height: 16px;
      width: 16px;
    }
    p {
      margin-right: 15px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
}

::ng-deep .content img{
  width: 100% !important;
}

.rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    font-weight: bold;
    text-align: end;
  }
}
