<div class="banner">
  <img src="https://hochieuqua7.web.app/images/user/library/cover.jpg" alt="image"/>
</div>

<div class="grid wrapper">
  <div class="col-8">
    <p class="header">{{editNews.title}}</p>
    <div class="description">
      <p>Tác giả: {{editNews.author}}</p>
      <p><i class="pi pi-clock"></i>{{editNews.createdDate}}</p>
      <p><i class="pi pi-eye"></i>{{editNews.view}}</p>
      <p><i class="pi pi-tag"></i>Tags: {{editNews.tags}}</p>
    </div>
    <hr>
    <div class="content">
      <div [innerHTML]="editNews.content"></div>
    </div>
    <div class="rating">
      <p-rating [(ngModel)]="editNews.rate" [cancel]="false"></p-rating>
      <p>{{editNews.rate || 0}} | 5 đánh giá</p>
    </div>
    <!-- Comment -->
    <hr>
    <p class="header">Bình luận</p>
    <app-comment></app-comment>
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col-12">
        <app-gioi-thieu-phai [newsCategory]="newsCategory" [mostViewNew]="mostViewNew" [lastestNew]="lastestNew"></app-gioi-thieu-phai>
      </div>
    </div>
  </div>
<div>