<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span class="active">Thông tin cá nhân</span>
    </div>
  </div>
  <div class="grid">
    <div class="grid col-3">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div class="activee">
          <i class="pi pi-user"></i> Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <i class="pi pi-qrcode"></i> Đổi mật khẩu
        </div>
        <div [routerLink]="['/tai-khoan/khoa-hoc-cua-toi']">
          <i class="pi pi-slack"></i> Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']">
          <i class="pi pi pi-key"></i> Kích hoạt khóa học
        </div>
        <div [routerLink]="['/tai-khoan/qua-trinh-hoc-tap']">
          <i class="pi pi-sitemap"></i> Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12">
        <h4>Thông tin cá nhân</h4>
        <div class="input">
          <p>Tài khoản</p>
          <input type="text" pInputText [(ngModel)]="info.userName" name="userName" disabled/>
        </div>
        <div class="input">
          <p>Họ tên</p>
          <input type="text" pInputText [(ngModel)]="info.name" name="name"/>
        </div>
        <div class="input">
          <p>Số điện thoại</p>
          <input type="text" pInputText [(ngModel)]="info.phone" name="phone"/>
        </div>
        <div class="input">
          <p>Email</p>
          <input type="text" pInputText [(ngModel)]="info.email" name="email"/>
        </div>
        <div class="input">
          <p>Căn cước công dân</p>
          <input type="text" pInputText [(ngModel)]="info.identityNo" name="identityNo"/>
        </div>
        <div class="Btn">
          <button pButton type="submit" label="Cập nhật" (click)="changeInfo()" ></button>
        </div>
      </div>
    </div>
  </div>
</div>