<div class="user-wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span class="active">Thông tin cá nhân</span>
    </div>
  </div>
  <div class="grid">
    <div class="grid col-3">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div [routerLink]="['/tai-khoan/thong-tin-ca-nhan']" class="activee">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403820.png"/>Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/ecommerce/3537059.png"/>Đổi mật khẩu
        </div>
        <div [routerLink]="['/tai-khoan/khoa-hoc-cua-toi']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/office/5204849.png"/>Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403561.png"/>Kích hoạt khóa học
        </div>
        <div [routerLink]="['/tai-khoan/qua-trinh-hoc-tap']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/delivery/3861415.png"/>Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12 info-input">
        <h4>Thông tin cá nhân</h4>
        <div class="input">
          <p>Tài khoản</p>
          <input type="text" pInputText [(ngModel)]="info.userName" name="userName" disabled/>
        </div>
        <div class="input">
          <p>Họ tên</p>
          <input type="text" pInputText [(ngModel)]="info.name" name="name"/>
        </div>
        <div class="input">
          <p>Số điện thoại</p>
          <input type="text" pInputText [(ngModel)]="info.phone" name="phone"/>
        </div>
        <div class="input">
          <p>Email</p>
          <input type="text" pInputText [(ngModel)]="info.email" name="email"/>
        </div>
        <div class="input">
          <p>Căn cước công dân</p>
          <input type="text" pInputText [(ngModel)]="info.identityNo" name="identityNo"/>
        </div>
        <div class="Btn">
          <button pButton type="submit" label="Cập nhật" (click)="changeInfo()" ></button>
        </div>
      </div>
    </div>
  </div>
</div>