<div class="grid test" [ngClass]="index % 2 == 0 ? 'even': 'odd'" >
  <div class="col-4 infor">
    <div class="title2">
      <i class="pi pi-book"></i>
      {{test.name}}
    </div>
    <div class="flex infor-2">
      <div class="timer">
        <i class="pi pi-clock"></i>
        <div>{{test.time}} phút</div>
        <i class="timer" class="pi pi-question-circle"></i>
      </div>
    </div>
  </div>
  <div class="col-4 blank"></div>
  <div class="col-4 action">
    <div class="button" (click)="getTestCode()">
      <i class="pi pi-play"></i>
      Thi ngay
    </div>
  </div>
</div>

<p-dialog header="Thông báo" [(visible)]="display" [style]="{width: '600px', height: 'auto'}">
  <img style="max-width: 100%;" src="https://hochieuqua7.web.app/images/common/payment.gif" />
  <h4>
    Bạn đã hết lần thi thử miễn phí bài kiểm tra này. Hãy mua khóa học để tiếp tục trải nghiệm. Hoặc liên hệ với quản trị viên để biết thêm thông tin!
  </h4>
  <div class="flex justify-content-end">
    <p-button label="Đóng" (click)="display = false"></p-button>
  </div>
</p-dialog>

<!-- <p-dialog [(visible)]="display" [style]="{width: '600px', height: 'auto'}">
  <h3>Bạn hãy nhấn bắt đầu để làm bài</h3>
</p-dialog> -->