<div style="text-align: center;" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="grid" *ngIf="!isLoading">
  <div class="col-4">
    <button class="btn btn-success" [routerLink]="['them-lop-hoc']">Thêm lớp học</button>
  </div>

  <div class="col-8">
    <div style="float: right;">
      <span class="p-input-icon-right">
        <i (click)="onSearch()" class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Tìm kiếm" name="search" [(ngModel)]="search" />
      </span>
    </div>
  </div>
</div>

<p-table [value]="classrooms" responsiveLayout="scroll" *ngIf="!isLoading">
  <ng-template pTemplate="header">
      <tr>
          <th>Hình ảnh</th>
          <th>Tên</th>
          <th>Sắp xếp</th>
          <!-- <th>Category</th> -->
          <th>Tùy chọn</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-classroom>
      <tr>
          <td><img [src]="classroom.avatar" [alt]="classroom.name" width="100" class="shadow-4" /></td>
          <td>{{classroom.name}}</td>
          <td>
            {{classroom.order}}
          </td>
          <!-- <td>{{classroom.name}}</td> -->
          <td>
            <div style="float: right;">
              <!-- <button class="btn btn-primary" style="margin: 2px;" [routerLink]="[classroom.id]">Edit</button> -->
              
              <p-button label="Edit" styleClass="mr-2" class="p-button-danger" [routerLink]="[classroom.id]"></p-button>

              <button pButton pRipple type="button" (click)="confirmDeleteClassroom(classroom.id)" label="Delete" class="p-button-danger"></button>

            </div>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[2,5,10]"></p-paginator>


