<div class="wrapper">
  <div class="main">
    <div class="title">
      Sunshine Landscape
    </div>
    <div class="field">
      <div class="username">
        <p>Tài khoản</p>
        <input type="text" placeholder="Nhập tài khoản" [(ngModel)]="query.username"/>
      </div>
      <div class="password">
        <p>Mật khẩu</p>
        <div class="passField">
          <input *ngIf="show" type="text" placeholder="Nhập mật khẩu" [(ngModel)]="query.password"/>
          <input *ngIf="!show" type="password" placeholder="Nhập mật khẩu" [(ngModel)]="query.password"/>
          <div (click)="toggleEye()" >
            <i *ngIf="show" class="pi pi-eye"></i>
            <i *ngIf="!show" class="pi pi-eye-slash"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="action">
      <button (click)="login()">Đăng nhập</button>
    </div>
    <div class="toolkit">
      <p>Bạn đã <a (click)="forgetPass()">Quên mật khẩu ?</a></p>
    </div>
  </div>
</div>