<div class="wrapper treeTable">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Step</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Step</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <!-- <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button> -->
        <p-button [routerLink]="['them-moi']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>

  <p-table [value]="steps" dataKey="id" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
          <th pFrozenColumn style="width: 30px"></th>
          <th pFrozenColumn style="width: 40px;"></th>

          <th style="width: 350px;">Tên nhóm</th>
          <th style="width: 100px;">Sắp xếp</th>
          <th>Thời gian</th>
          <th>Màn hình</th>
          <th>Nút chuyển</th>
          <th style="width: 100px;">Hiển thị</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-step>
        <tr>
            <td pFrozenColumn>
              <button *ngIf="step.steps.length" type="button" pButton pRipple [pRowToggler]="step" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td pFrozenColumn style="width: 40px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td style="width: 350px;">
                {{step.name}}
            </td>
            <td style="width: 100px;">{{step.order}}</td>
            <td>{{step.delay}}</td>
            <td>{{step.screen}}</td>
            <td>
              <span  class="colorful" [ngClass]="step.showNavigation == 0 ? 'fail' : 'passed' " *ngIf="step.showNavigation == 0">Ẩn</span>
              <span  class="colorful" [ngClass]="step.showNavigation == 0 ? 'fail' : 'passed' " *ngIf="step.showNavigation == 1">Hiển thị</span>
            </td>
            <td style="width: 100px;">
              <span  class="colorful" [ngClass]="step.status == 0 ? 'fail' : 'passed' " *ngIf="step.status == 0">Ẩn</span>
              <span  class="colorful" [ngClass]="step.status == 0 ? 'fail' : 'passed' " *ngIf="step.status == 1">Hiển thị</span>
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" (click)="routerChildStep('them-moi', step.id)">
                <i class="pi pi-plus"></i> Step con
              </div>
              <div class="option" [routerLink]="[step.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="deleteStep(step.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
        </p-overlayPanel>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-step>
      <tr>
          <td colspan="7">
              <div class="p-p-3">
                  <p-table [value]="step.steps" dataKey="id"  rowHover="true">
                      <ng-template pTemplate="header">
                          <tr>
                            <th pFrozenColumn style="width: 40px;"></th>
                            <th style="min-width: 250px">Tiêu đề chính</th>
                            <th style="min-width: 250px">Tiêu đề con</th>
                            <th style="width: 100px;">Sắp xếp</th>
                            <th style="width: 150px;">Hiển thị</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order>
                          <tr>
                            <td pFrozenColumn style="width: 40px" >
                              <span class="choose" (click)="op2.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
                            </td>
                            <td style="min-width: 250px">
                                {{order.title}}
                            </td>
                            <td style="min-width: 250px">{{order.subTitle}}</td>
                            <td style="width: 100px;">{{order.order}}</td>
                            <td style="width: 150px;">
                              <span  class="colorful" [ngClass]="order.status == 0 ? 'fail' : 'passed' " *ngIf="order.status == 0">Ẩn</span>
                              <span  class="colorful" [ngClass]="order.status == 0 ? 'fail' : 'passed' " *ngIf="order.status == 1">Hiển thị</span>
                            </td>
                          </tr>
                          <p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '180px'}">
                            <ng-template pTemplate>
                                <div class="option" (click)="routerChildStep(order.id, step.id)">
                                    <i class="pi pi-pencil"></i> Sửa
                                </div>
                                <div class="option" (click)="deleteStep(order.id, true)">
                                    <i class="pi pi-trash"></i> Xóa
                                </div>
                            </ng-template>
                          </p-overlayPanel>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="6">Không có bản ghi nào</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
    </ng-template>
  </p-table>
</div>