.wrapper .header {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

/* ::ng-deep .main .p-accordion-header {
  color: #fff;
  font-weight: bold;
} */

.test {
  padding: 20px 5px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  &:hover {
    background: #0d89ec0f
  }
  .main-test {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 13px;
    }
    i {
      padding: 5px;
      font-size: 17px;
      border: 1px solid gray;
      border-radius: 100%;
      &:hover {
        transition: .3s ease-in-out;
        color: #fff;
        background-color: blue;
      }
    }
  }
}