<div class="wrapper">
  <div class="header">
    <p>Chương trình học</p>
  </div>
  <div class="main">
    <p-accordion multiple="true" *ngFor="let course of courseSchedules; let i=index">
      <p-accordionTab [selected]="i==0" [header]="course.name">
        <div *ngFor="let test of course.tests" class="test">
          <div style="width: 35px; height: 35px; margin-right: 10px; position: relative; left: -20px;">
            <img *ngIf="test.isFree" src="https://hochieuqua7.web.app/images/common/icons/blue/shopping/2981255.png" width="35px" height="35px"/>
          </div>
          <div class="main-test">
            <p class="test-name">{{test.name}}</p>
            <div>
              <span *ngIf="test.testCategoryCode == 'kiem-tra' ">
                <img src="https://hochieuqua7.web.app/images/common/icons/blue/rating/3403631.png" />
              </span>
              <span *ngIf="test.testCategoryCode == 'bai-giang' " [routerLink]="test.id">
                <img src="https://hochieuqua7.web.app/images/common/icons/blue/rating/play.png" />
              </span>
            </div>            
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>