<div class="wrapper">
    <div class="header">
        <div class="guide">
          <span><i class="pi pi-home"></i></span>
          <i>/</i>
          <span>Quản trị</span>
          <i>/</i>
          <span class="active">Ứng viên</span>
        </div>
        <div class="header-2">
          <div class="header-left">
            <div class="empty"></div>
            <div class="main-title">Ứng viên</div>
          </div>
          <div class="header-right">
            <!-- <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
            </span> -->
            <div class="search-btn">
              <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="query.filter"/>
              <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
            </div>
            <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
            <!-- <p-button [routerLink]="['them-ung-vien']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button> -->
          </div>
        </div>
    </div>

    <p-table [value]="candidates" responsiveLayout="scroll" [scrollable]="true" rowHover="true">
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn style="width: 2.25em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pFrozenColumn style="min-width: 50px;"></th>
                <th pFrozenColumn style="min-width:200px">Tên ứng viên</th>
                <th style="min-width:150px">Điện thoại</th>
                <th style="min-width:200px">Email</th>
                <th style="min-width:150px">Đã phỏng vấn</th>
                <th style="min-width:150px">Kết quả PV</th>
                <th style="min-width:250px">Bài đăng</th>
                <th style="min-width:200px">Ngày nộp đơn</th>
                <th style="min-width:200px">Ngày phỏng vấn</th>
                <th style="min-width:200px">Người phỏng vấn</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidate>
            <tr>
                <td pFrozenColumn style="width: 2.25em">
                    <p-tableCheckbox [value]="candidate"></p-tableCheckbox>
                </td>
                <td pFrozenColumn style="min-width: 50px" >
                    <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
                </td>
                <td pFrozenColumn style="min-width:200px ;color: #0b5ed7; font-weight: 650;">{{candidate.name}}</td>
                <td style="min-width:150px">{{candidate.phone}}</td>
                <td style="min-width:200px">{{candidate.email}}</td>
                <td style="min-width:150px">
                    <span class="colorful"  [ngClass]="candidate.status == 0 ? 'waiting' : 'done' " *ngIf="candidate.status == 0">Đang chờ</span>
                    <span  class="colorful" [ngClass]="candidate.status == 0 ? 'waiting' : 'done' " *ngIf="candidate.status == 1">Đã phỏng vấn</span>
                </td>
                <td style="min-width:150px">
                    <span  class="colorful" [ngClass]="candidate.interviewPass == 0 ? 'fail' : 'passed' " *ngIf="candidate.interviewPass == 0">Loại</span>
                    <span  class="colorful" [ngClass]="candidate.interviewPass == 0 ? 'fail' : 'passed' " *ngIf="candidate.interviewPass == 1">Đạt</span>
                </td>
                <td style="min-width:250px; color: #0b5ed7; font-weight: 650;">{{candidate.recruitName}}</td>
                <td style="min-width:200px">{{candidate.applyDate}}</td>
                <td style="min-width:200px">{{candidate.interviewDate}}</td>
                <td style="min-width:200px">{{candidate.interviewUser}}</td>
            </tr>
            <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
                <ng-template pTemplate>
                    <div class="option" [routerLink]="[candidate.id]">
                        <i class="pi pi-pencil"></i> Sửa
                    </div>
                    <div class="option" (click)="deleteCandidate(candidate.id)">
                        <i class="pi pi-trash"></i> Xóa
                    </div>
                </ng-template>
            </p-overlayPanel>
        </ng-template>
    </p-table>
</div>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
    <ng-template pTemplate>
      <div class="grid search_advance">
        <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
        <div class="grid search_advance_main">
          <div class="col-12">
            <small>Phỏng vấn đạt</small>
            <p-dropdown [(ngModel)]="query.interviewPass" [options]="interviewPassOptions" placeholder="Phỏng vấn đạt"></p-dropdown>
          </div>
          <div class="col-12">
            <small>Đã phỏng vấn</small>
            <p-dropdown [(ngModel)]="query.status" [options]="statusOptions" placeholder="Đã phỏng vấn"></p-dropdown>
          </div>
        </div>
        <div class="search_advance_actions">
          <p-button label="Làm mới" icon="pi pi-sync"></p-button>
          <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
        </div>  
      </div>
    </ng-template>
  </p-overlayPanel>