// .wrapper {
//   width: 70%;
//   margin: 0 auto;
// }

.guide {
  color: rgba(43,47,51,.4);
  font-weight: 500;
  span {
    i {
      font-size: 16px;
    }
  }
  i {
    margin: 0 5px;
  }
  i:hover {
    cursor: pointer;
  }
  span:hover { 
    cursor: pointer;
  }
  .active {
    color: #0059ce;
    font-weight: 600;
  }
}


.colorful {
  padding: 2px 5px;
  border-radius: 8px;

}
.fail {
  background-color: #dc3545;
  color: #fff;
}

.passed {
  background-color: #007bff;
  color: #fff;
}

.waiting {
  background-color: #ffc107;
  color: #212529
}

.done {
  background: #007bff;
  color: #fff;
}


