
<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span [routerLink]="['quan-tri/lop-hoc']">Lớp học</span>
      <i>/</i>
      <span class="active">Chi tiết Lớp học</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title" *ngIf="id && id != 'them-lop-hoc'" >Chi tiết Lớp học</div>
        <div class="main-title" *ngIf="id == 'them-lop-hoc' || !id" >Thêm Lớp học</div>
      </div>
      <div class="header-right">
      </div>
    </div>
  </div>
  <div class="detail">
    <p-tabView>
      <p-tabPanel header="Thông tin">
        <div class="grid">
          <div class="col-3">
            <div class="uploadWrapper">
              <img *ngIf="!editClassroom.avatar" src="https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png"/>
              <img *ngIf="editClassroom.avatar" [src]="editClassroom.avatar"/>
              <p-button icon="pi pi-upload" (click)="uploadImage('avatar')" label="Ảnh đại diện"></p-button>
            </div>
          </div>
          <div class="col-9">
            <div class="grid">
              <div class="col-12">
                <small>Tên lớp học</small>
                <div>
                  <span class="p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input formGroupName="name" class="p-inputtext-lg" id="name" type="text" aria-describedby="username-help" pInputText name="name" [(ngModel)]="editClassroom.name" />
                  </span>
                </div>
              </div>
              <div class="col-6">
                <small>Sắp xếp</small>
                <div>
                  <span class="p-input-icon-right">
                    <i class="pi pi-sort-numeric-down"></i>
                    <input class="p-inputtext-lg" id="sapxep" type="number" aria-describedby="username1-help" pInputText name="order" [(ngModel)]="editClassroom.order"/>
                  </span>
                </div>
              </div>
              <div class="col-6 inputSwitch">
                <small for="checked" class="block">Hiển thị</small>
                <p-inputSwitch [(ngModel)]="editClassroom.status" name="status"></p-inputSwitch>
              </div>
              <div class="detail-action">
                <div class="cancel-btn">
                  <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
                </div>
                <div class="save-btn">
                  <p-button label="Lưu" (click)="onSubmit()" icon="pi pi-check"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Môn học" [selected]="isBack">
        <app-them-mon-hoc></app-them-mon-hoc>
      </p-tabPanel>
    </p-tabView>
  </div>

</div>