
<div class="wrapper chat">
    <p-accordion [multiple]="true">
        <p-accordionTab *ngIf="chatSelected.users.length > 2" header="Thành viên trong nhóm chat">
            <div>
                <div *ngFor="let user of chatSelected.users" class="user">
                    <span class="avatar">
                        <img [src]="user.avatar ? user.avatar : 'https://hochieuqua7.web.app/images/logo.png'"/>
                    </span>
                    <span class="name">{{user.name}}</span>
                    <span class="action">
                        <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        <p-menu #menu [popup]="true" [model]="memberItems"></p-menu>
                    </span>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab *ngIf="chatSelected.users.length > 2"  header="Tùy chỉnh nhóm chat">
            <div>
                <div class="each-item" (click)="changeName()">
                    <span><i class="pi pi-pencil"></i></span>Đổi tên đoạn chat
                </div>
                <div class="each-item" (click)="changeAvatar()">
                    <span><i class="pi pi-image"></i></span>Thay đổi ảnh
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="File phương tiện, liên kết">
            <div>
                <div class="each-item" (click)="showMedia(0)">
                    <span><i class="pi pi-images"></i></span>File phương tiện
                </div>
                <div class="each-item" (click)="showMedia(1)">
                    <span><i class="pi pi-file"></i></span>File
                </div>
                <div class="each-item" (click)="showMedia(2)">
                    <span><i class="pi pi-share-alt"></i></span>Liên kết
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Quyền riêng tư, hỗ trợ">
            <div>
                <div class="each-item">
                    <span><i class="pi pi-bell"></i></span>Tắt thông báo
                </div>
                <div class="each-item" *ngIf="chatSelected.users.length > 2">
                    <span><i class="pi pi-sign-out"></i></span>Rời nhóm
                </div>
            </div>   
        </p-accordionTab>
    </p-accordion>
</div>

<p-sidebar [(visible)]="isChangeName" [baseZIndex]="10000"  position="right" styleClass="p-sidebar-lg" [style]="{width: '50vw'}">
    <app-chat-change-name *ngIf="isChangeName" [chatSelected]="chatSelected" (nameSaved)="saveName($event)"></app-chat-change-name>
</p-sidebar>

<p-sidebar [(visible)]="isChangeAvatar" [baseZIndex]="10000"  position="right" styleClass="p-sidebar-lg" [style]="{width: '65vw'}">
    <app-chon-anh *ngIf="isChangeAvatar" (avatarSaved)="saveAvatar($event)"></app-chon-anh>
</p-sidebar>

<p-sidebar [(visible)]="isShowMedia" [baseZIndex]="10000"  position="right" styleClass="p-sidebar-lg" [style]="{width: '50vw'}">
    <app-chat-file-media *ngIf="isShowMedia" [chatSelected]="chatSelected" [tabIndex]="tabIndex"></app-chat-file-media>
</p-sidebar>