.user {
    margin: 5px 0;
    display: flex;
    align-items: center;
    .avatar {
        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }
    .name {
        font-size: 16px;
        font-weight: 500;
    }
    .action {
        cursor: pointer;
        margin-left: auto;
        i {
            font-size: 14px;
        }
    }
}

.chat {
    .name {
        padding-left: 6px;
    }
    .each-item {
        cursor: pointer;
        padding: 6px 15px;
        font-size: 15px;
        i {
            font-size: 13px !important;
            margin-right: 15px;
        }
        &:hover {
            background: hsla(0,0%,83%,.527);
            border-radius: 5px;
            i {
                font-weight: 600;
            }
        }
    }
  }