<div style="margin-top: 10px;">
  <app-nhieu-lua-chon (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'nhieu_lua_chon'" [quizz]="quizz" ></app-nhieu-lua-chon>
  <app-mot-lua-chon (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'mot_lua_chon'" [quizz]="quizz" ></app-mot-lua-chon>
  <app-nhieu-trinh-tha-don-xuong (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'nhieu_trinh_tha_don_xuong'" [quizz]="quizz" ></app-nhieu-trinh-tha-don-xuong>
  <app-dung-sai (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'dung_sai'" [quizz]="quizz" ></app-dung-sai>
  <app-dien-vao-cho-trong (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'dien_vao_cho_trong'" [quizz]="quizz" ></app-dien-vao-cho-trong>
  <app-dien-vao-nhieu-khoang-trong (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'dien_vao_nhieu_khoang_trong'" [quizz]="quizz" ></app-dien-vao-nhieu-khoang-trong>
  <app-phu-hop (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'phu_hop'"  [quizz]="quizz"></app-phu-hop>
  <app-tieu-luan (countRight)="send123($event)" *ngIf="quizz.testQuestionTypeCode == 'tieu_luan'" [quizz]="quizz" ></app-tieu-luan>
</div>