<div class="banner">
  <div class="user-wrapper">
    <div class="header">
      <p>{{detailCourse.name}}</p>
    </div>
    <div class="info">
      <!-- <span class="name">
        <i class="pi pi-user"></i>
        {{teacherName}}
      </span> -->
      <span>
        <i class="pi pi-star"></i>
        {{detailCourse.totalRating}} đánh giá
      </span>
      <span style="margin-left: 15px;">
        <i class="pi pi-users"></i>
        {{detailCourse.totalStudent}} học viên
      </span>
    </div> 
  </div>
  <img class="math" src="https://hochieuqua7.web.app/images/user/chi-tiet-khoa-hoc/math_formulas.png" alt="" />
  <img class="math2" src="https://hochieuqua7.web.app/images/user/chi-tiet-khoa-hoc/math_formulas.png" alt="" />
</div>