<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span>Trợ giúp</span>
      <i>/</i>
      <span class="active">Chi tiết trợ giúp</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title" *ngIf="id && id != 'them-moi'" >Chi tiết Trợ giúp</div>
        <div class="main-title" *ngIf="id == 'them-moi'" >Thêm Trợ giúp</div>
      </div>
      <div class="header-right">
      </div>
    </div>
  </div>

  <div class="detail grid">
    <div class="col-12">
      <small>Tiêu đề</small>
      <div>
        <span class="input p-input-icon-right">
          <i class="pi pi-user"></i>
          <input type="text" pInputText [(ngModel)]="editGuide.title"/>
        </span>
      </div>
    </div>
    <div class="col-6">
      <small>Thứ tự</small>
      <div>
        <span class="input p-input-icon-right">
          <i class="pi pi-sort-numeric-down"></i>
          <input type="text" pInputText [(ngModel)]="editGuide.order"/>
        </span>
      </div>
    </div>
    <div class="col-6">
      <small>Màn hình</small>
      <div class="input">
        <p-dropdown [options]="screenOptions" [(ngModel)]="editGuide.screen"></p-dropdown>
      </div>
    </div>
    <div class="col-6 inputSwitch">
      <span>
        <p-inputSwitch [(ngModel)]="editGuide.status"></p-inputSwitch>
      </span>
      <span class="text">Hiển thị</span>
    </div>
    <div class="col-12">
      <editor
        [init]="editorConfig" [(ngModel)]="editGuide.content"
      ></editor>
    </div>
    <div class="detail-action">
      <div class="cancel-btn">
        <p-button label="Hủy" icon="pi pi-times" (click)="cancelBtn()"></p-button>
      </div>
      <div class="save-btn">
        <p-button label="Lưu" (click)="postGuide()" icon="pi pi-check"></p-button>
      </div>
    </div>
  </div>
</div>