<div class="wrapper">
  <div class="header">
    <div class="guide" *ngIf="showAdd">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Tài khoản</span>
    </div>
    <div class="header-2">
      <div class="header-left" >
        <div class="empty"></div>
        <div class="main-title">Tài khoản</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input *ngIf="showAdd" placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button *ngIf="showAdd" class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button *ngIf="!showAdd && selectedCars.length > 0" label="Chọn" icon="pi pi-check" iconPos="left" (click)="selectAccount()" ></p-button>
        <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left" (click)="op2.toggle($event)"></p-button>
        <p-button *ngIf="showAdd" [routerLink]="['them-tai-khoan']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  <p-table [value]="accounts" responsiveLayout="scroll" rowHover="true" [(selection)]="selectedCars">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
            </th> 
            <th *ngIf="showAdd" style="width: 50px;" pFrozenColumn></th>
            <th style="min-width: 130px;">Hình ảnh</th>
            <th>Tài khoản</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Họ Tên</th>
            <th>Trạng thái</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-account>
        <tr>  
            <td>
              <p-tableCheckbox [value]="account"></p-tableCheckbox>
            </td>
            <td *ngIf="showAdd" pFrozenColumn style="width: 50px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td>
              <img [src]="account.avatar" (error)="errorHandler($event)" [alt]="account.name" height="60" width="100" style="object-fit: cover;" class="shadow-4" />
            </td>
            <td style="color: #0b5ed7; font-weight: 650;">{{account.userName}}</td>
            <td>
              {{account.email}}
            </td>
            <td>{{account.phone
            }}</td>
            <td>{{account.name}}</td>
            <td>
              <span class="colorful" [ngClass]="account.status == 0 ? 'fail' : 'passed' " *ngIf="account.status == 1">Hoạt động</span>
              <span class="colorful" [ngClass]="account.status == 0 ? 'fail' : 'passed' " *ngIf="account.status == 0">Tạm khóa</span>
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
            <div class="option" [routerLink]="[account.id]">
                <i class="pi pi-pencil"></i> Sửa
            </div>
            <div class="option" (click)="confirmDeleteAccount(account.id)">
                <i class="pi pi-trash"></i> Xóa
            </div>
          </ng-template>
        </p-overlayPanel>
    </ng-template>
  </p-table>
</div>
  
<p-paginator [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,50]"></p-paginator>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <p-dropdown [(ngModel)]="params.roleId" [options]="roleOptions" placeholder="Quyền"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>

