* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image {
  max-width: 300px;
}

.header-left {
  display: flex;
  margin: 15px 0;
  .empty {
    background-color: #0073ffe8;
    border-radius: 12px;
    box-shadow: 2px 2px 3px #007bffb3;
    width: 5px;
  }
  .main-title {
    color: #0059ce;
    font-size: 22px;
    font-weight: bolder;
    padding: 3px 10px;
  }
}

// .carousel {
//   width: 100% !important;
//   .p-carousel-container {
//     position: relative;
//   }
//   .p-carousel-prev {
//     z-index: 100;
//     position: absolute;
//     color: white;
//     padding: 15px;
//     border-radius: 100%;
//     background: #d8d8d8;
//     font-size: 18px;
//     color: gray;
//   }
// } 