<div style="text-align: center;" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="grid">
    <div class="wrapper grid">
      <div class="col-3">
        <img [src]="editSubject.avatar ? editSubject.avatar : defaultAvatar" width="220" height="220" />
      </div>
      <div class="col-9">
          <div class="field">
            <label for="avatar" class="block">Avatar</label>
            <input id="avatar" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editSubject.avatar" name="avatar"/>
          </div>
  
          <div class="field">
            <label for="name" class="block">Tên môn học</label>
            <input id="name" type="username" aria-describedby="name-help" pInputText [(ngModel)]="editSubject.name" name="name" />
          </div>
  
  
          <div class="field">
            <label for="order" class="block">Thứ tự</label>
            <input id="order" type="username" aria-describedby="order-help" pInputText [(ngModel)]="editSubject.order" name="order" />
          </div>
  
          <label for="checked" class="block">Hiển thị</label>
          <p-inputSwitch name="status" [(ngModel)]="editSubject.status"></p-inputSwitch>
  
          <div class="field" *ngIf="editSubject && editSubject.classRoomIds">
            <label for="classRoomIds" class="block">Lớp học</label>
            <p-multiSelect [filter]="false" [options]="optionsLopHoc" [(ngModel)]="editSubject.classRoomIds" defaultLabel="Chọn lớp học" optionLabel="name" optionValue="code" option display="chip" name="classRoomIds"></p-multiSelect>
          </div>
  
        <button style="margin: 10px" pButton pRipple label="Cancel" icon="pi pi-times"></button>
        <button 
          style="margin: 10px" 
          type="submit" 
          pButton pRipple 
          label="Save" 
          icon="pi pi-check"
          >
        </button>
      </div>
    </div>
  </div>
</form>
