form {
    margin-top: 10px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

::ng-deep .wrapper .p-inputtext {
    width: 50%;
}

::ng-deep .wrapper .p-multiselect {
    width: 50%;
}