<div class="wrapper">

  <div style="text-align: center;" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  
  <div class="grid" *ngIf="!isLoading">
    <div class="col-4">
      <button class="btn btn-success" [routerLink]="['them-moi']">Thêm mới</button>
    </div>
  
    <div class="col-8">
      <div style="float: right;">
        <span class="p-input-icon-right">
          <i (click)="onSearch()" class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Tìm kiếm" name="search" [(ngModel)]="search" />
        </span>
      </div>
    </div>
  </div>
  
  <p-table [value]="newCategorys" responsiveLayout="scroll" *ngIf="!isLoading">
    <ng-template pTemplate="header">
        <tr>
          <th pFrozenColumn style="min-width: 50px;"></th>

            <th>Tên</th>
            <th>Hiển thị</th>
            <th>Sắp xếp</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-newCategory >
        <tr>
          <td pFrozenColumn style="min-width: 50px" >
            <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
        </td>
            <td>{{newCategory.name}}</td>
            <td>
              <div *ngIf="newCategory.status == 1"><i class="pi pi-check" style="font-size: 1.5rem"></i></div>
              <div *ngIf="newCategory.status == 0"><i class="pi pi-times" style="font-size: 1.5rem"></i></div>
            </td>
            <td>
              {{newCategory.order}}
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[newCategory.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="onDeleteNewCategory(newCategory.id)" >
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
  
  <p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[2,5,10]"></p-paginator>
</div>
