<div class="wrapper">
  <div class="header">
      <div class="guide">
        <span><i class="pi pi-home"></i></span>
        <i>/</i>
        <span>Quản trị</span>
        <i>/</i>
        <span>Tuyển dụng</span>
        <i>/</i>
        <span class="active">Quản lý Tuyển dụng</span>
      </div>
      <div class="header-2">
        <div class="header-left">
          <div class="empty"></div>
          <div class="main-title" *ngIf="id && id != 'them-moi'" >Chi tiết Tuyển dụng</div>
          <div class="main-title" *ngIf="id == 'them-moi'" >Thêm Tuyển dụng</div>
        </div>
        <div class="header-right">
        </div>
      </div>
  </div>
  <div class="detail grid">
    <div class="col-12">
      <small>Tiêu đề</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-sort-alpha-down"></i>
          <input id="name" type="username" aria-describedby="name-help" pInputText [(ngModel)]="editRecruit.name" name="name" />
        </span>
      </div>
    </div>
    <div class="col-6">
      <small>Mức lương</small>
        <div>
          <span class="p-input-icon-right">
            <i class="pi pi-money-bill"></i>
            <input id="price" type="username" aria-describedby="name-help" pInputText [(ngModel)]="editRecruit.price" name="price" />
          </span>
        </div>
    </div>
    <div class="col-6">
      <small>Địa chỉ</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-map-marker"></i>
          <input id="address" type="username" aria-describedby="name-help" pInputText [(ngModel)]="editRecruit.address" name="address" />
        </span>
      </div>
    </div>
    <div class="col-6">
      <small>Thứ tự</small>
        <div>
          <span class="p-input-icon-right">
            <i class="pi pi-sort-numeric-down"></i>
            <input id="order" type="username" aria-describedby="name-help" pInputText [(ngModel)]="editRecruit.order" name="order" />
          </span>
        </div>
    </div>
    <div class="col-3 inputSwitch">
      <small>Hiển thị</small>
      <p-inputSwitch [(ngModel)]="editRecruit.status"  name="status"></p-inputSwitch>
    </div>
    <div class="col-3 inputSwitch">
      <small>Nóng hổi</small>
      <p-inputSwitch [(ngModel)]="editRecruit.isHot"  name="isHot"></p-inputSwitch>
    </div>
    <div class="col-12">
      <small>Tags</small>
      <div>
        <p-chips [(ngModel)]="editRecruit.tags" name="tags" ></p-chips>
      </div>
    </div>
    <div class="col-12 ckeditor">
      <small>Yêu cầu</small>
      <editor
            [init]="editorConfig" [(ngModel)]="editRecruit.requirement"
          ></editor>
    </div>
    <div class="col-12 ckeditor">
      <small>Nội dung bài viết</small>
      <editor
            [init]="editorConfig" [(ngModel)]="editRecruit.content"
          ></editor>
    </div>
    <div class="detail-action">
      <div class="cancel-btn">
        <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
      </div>
      <div class="save-btn">
        <p-button label="Lưu" (click)="onSubmit()" icon="pi pi-check"></p-button>
      </div>
    </div>
  </div>
</div>