<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Slide</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Slide</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button (click)="onNewSlide()" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  
  <p-table [value]="slides" responsiveLayout="scroll" *ngIf="!isLoading" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> 
            <th pFrozenColumn style="min-width: 50px;"></th>
            <th>Hình ảnh</th>
            <th>Tên</th>
            <th>Màn hình</th>
            <th>Hiển thị</th>
            <th>Sắp xếp</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-slide>
        <tr>
            <td>
              <p-tableCheckbox [value]="slide"></p-tableCheckbox>
            </td>
            <td pFrozenColumn style="min-width: 50px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td><img [src]="slide.imageUrl" [alt]="slide.name" width="100" class="shadow-4" /></td>
            <td>{{slide.name}}</td>
            <td>{{slide.screen}}</td>
            <td>
              <span class="colorful" [ngClass]="slide.status == 0 ? 'fail' : 'passed' " *ngIf="slide.status == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="slide.status == 0 ? 'fail' : 'passed' " *ngIf="slide.status == 0">Ẩn</span>
            </td>
            <td>
              {{slide.order}}
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[slide.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="confirmDeleteslide(subject.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
      </ng-template>
  </p-table>
  
  <p-dialog header="Header" [(visible)]="isDisplayDialog" [style]="{width: '50vw', height: '30vw'}">
    <form (ngSubmit)="onSubmit()">
      <div class="grid" style="display: flex;">
        <div class="col-4">
          <div class="field">
            <img [src]="slideDetail.imageUrl" width="100%" height="200px"/>
          </div>
        </div>
        <div class="col-8">
          <div class="grid">
            <div class="col-10">
              <div class="field">
                <label for="imageUrl" class="block">Avatar</label>
                <input id="imageUrl" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="slideDetail.imageUrl" name="imageUrl"/>
              </div>
            </div>
  
            <div class="col-10">
              <div class="field">
                <label for="name" class="block">Tên Slide</label>
                <input formGroupName="suaSlideForm" class="p-inputtext-lg" id="name" type="text" aria-describedby="username-help" pInputText name="name" [(ngModel)]="slideDetail.name"/>
              </div>
            </div>
  
            <div class="col-10">
              <div class="field">
                <label for="screen" class="block">Màn hình</label>
                <p-chips [(ngModel)]="slideDetail.screen" name="screen" ></p-chips>
  
              </div>
            </div>
  
            <div class="col-10">
              <div class="field">
                <label for="order" class="block">Sắp xếp</label>
                <input formGroupName="suaSlideForm" class="p-inputtext-lg" id="order" type="text" aria-describedby="username-help" pInputText name="order" [(ngModel)]="slideDetail.order"/>
              </div>
            </div>
  
            <div class="col-10">
              <div class="field">
                <label for="order" class="block">Hiển thị</label>
                <p-inputSwitch [(ngModel)]="slideDetail.status" name="status"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <ng-template pTemplate="footer">
        <!-- <p-button icon="pi pi-check" (click)="isDisplayDialog=false" label="Ok" styleClass="p-button-text"></p-button> -->
        <button style="margin: 10px" pButton pRipple (click)="isDisplayDialog=false" label="Cancel" icon="pi pi-times"></button>
        <button 
          style="margin: 10px" 
          type="submit" 
          pButton pRipple 
          label="Save" 
          icon="pi pi-check"
          (click)="onSubmit()"
          >
        </button>
    </ng-template>
  </p-dialog>
    
  <p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>
</div>


<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Trạng thái</small>
          <p-dropdown [(ngModel)]="params.status" [options]="statusOptions" placeholder="Trạng thái" (onChange)="onSearch()"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>
