<div class="user-wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span class="active">Quá trình học tập</span>
    </div>
  </div>
  <div class="grid">
    <div class="grid col-3" style="height: fit-content;">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div [routerLink]="['/tai-khoan/thong-tin-ca-nhan']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403820.png"/>Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/ecommerce/3537059.png"/>Đổi mật khẩu
        </div>
        <div [routerLink]="['/tai-khoan/khoa-hoc-cua-toi']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/office/5204849.png"/>Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403561.png"/>Kích hoạt khóa học
        </div>
        <div class="activee">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/delivery/3861415.png"/>Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12">
        <h4>Quá trình học tập</h4>
        <div class="grid">
          <div class="col-4 qtht-left">
            <p-dropdown placeholder="Chọn khóa học" [options]="myCourseOption" [(ngModel)]="selectCourse" (onChange)="getProcess()"></p-dropdown>
          </div>
          <div class="col-8 text-right">
            <div>Hoàn thành khóa học</div>
            <div class="passStatus">Hoàn thành</div>
          </div>
        </div>
        <!-- <div class="wrapper">
          <p-table  [value]="myStudyProcess" responsiveLayout="scroll" rowHover="true" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em" pFrozenColumn></th> 
                <th>Tên</th>
                <th style="width: 120px">Hoàn thành</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-process let-expanded="expanded">
              <tr>
                <td pFrozenColumn style="width: 2.25em">
                  <button *ngIf="process.tests.length" type="button" pButton pRipple [pRowToggler]="menu" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{process.name}}</td>
                <td style="width: 120px">
                  <span class="colorful" [ngClass]="process.isPass ? 'passed' : 'fail' " *ngIf="process.isPass">Qua</span>
                  <span class="colorful" [ngClass]="!process.isPass ? 'fail' : 'passed' " *ngIf="!process.isPass">Trượt</span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-process let-expanded="expanded">
              <tr>
                <td colspan="7">
                  <div class="p-p-3">
                    <p-table [value]="process.tests" dataKey="id" rowHover="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Tên</th>
                          <th>Loại bài</th>
                          <th>Qua môn</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-test>
                        <tr>
                          <td>{{test.name}}</td>
                          <td>{{test.testCategoryName}}</td>
                          <td>
                            <span class="colorful" [ngClass]="test.isTestPass  ? 'passed' : 'fail' " *ngIf="test.isTestPass">Qua</span>
                            <span class="colorful" [ngClass]="!test.isTestPass  ? 'fail' : 'passed' " *ngIf="!test.isTestPass">Trượt</span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" >
              <tr *ngIf="selectCourse">
                <td colspan="6">Không có bản ghi nào</td>
              </tr>
            </ng-template>
          </p-table>
        </div> -->
        <div class="wrapper" style="margin-top: 10px;">
          <p-table [value]="myStudyProcess" responsiveLayout="scroll" rowHover="true" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2.25em" pFrozenColumn>
                </th> 
                <th>Tên</th>
                <th style="width: 120px">Hoàn thành</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-process let-expanded="expanded">
              <tr>
                <td pFrozenColumn>
                  <button *ngIf="process.tests.length" type="button" pButton pRipple [pRowToggler]="process" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{process.name}}</td>
                <td style="width: 120px">
                  <span class="colorful" [ngClass]="process.isPass ? 'passed' : 'fail' " *ngIf="process.isPass ">Qua</span>
                  <span class="colorful" [ngClass]="process.isPass ? 'passed' : 'fail' " *ngIf="!process.isPass ">Trượt</span>
                </td>
              </tr>
            </ng-template>
        
            <ng-template pTemplate="rowexpansion" let-process let-expanded="expanded">
              <tr>
                  <td colspan="7">
                      <div class="p-p-3">
                          <p-table [value]="process.tests" dataKey="id" rowHover="true">
                              <ng-template pTemplate="header">
                                  <tr>
                                    <th style="width: 2.25em" pFrozenColumn>
                                    <th>Tên</th>
                                    <th style="width: 120px;">Loại bài</th>
                                    <th style="width: 120px;">Qua môn</th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-test>
                                  <tr>
                                    <td pFrozenColumn>
                                      <button *ngIf="test.testUsers.length" type="button" pButton pRipple [pRowToggler]="process" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
                                    <td >
                                        {{test.name}}
                                    </td>
                                    <td style="width: 120px;">{{test.testCategoryName}}</td>
                                    <td  style="width: 120px;">
                                      <span class="colorful" [ngClass]="test.isTestPass == 0 ? 'fail' : 'passed' " *ngIf="test.isTestPass">Qua</span>
                                      <span class="colorful" [ngClass]="test.isTestPass == 0 ? 'fail' : 'passed' " *ngIf="!test.isTestPass ">Trượt</span>
                                    </td>
                                  </tr>
                              </ng-template>
                              <!--  -->
                              <ng-template pTemplate="rowexpansion" let-test let-expanded="expanded">
                                <tr>
                                    <td colspan="7">
                                        <div class="p-p-3">
                                            <p-table [value]="test.testUsers" dataKey="id" rowHover="true">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                      <th>Tên</th>
                                                      <th>Ngày thi</th>
                                                      <th style="width: 120px;">Điểm</th>
                                                      <th style="width: 120px;">Qua môn</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-testUser>
                                                    <tr>
                                                      <td >
                                                          {{testUser.testName}}
                                                      </td>
                                                      <td>{{testUser.createdDate}}</td>
                                                      <td style="width: 120px;">
                                                        {{testUser.totalTruthPoint + '/' + test.totalPointPass + '/' + test.totalPoint}}
                                                      </td>
                                                      <td  style="width: 120px;">
                                                        <span class="colorful" [ngClass]="testUser.isTestPass == 0 ? 'fail' : 'passed' " *ngIf="testUser.isTestPass == 1">Qua</span>
                                                        <span class="colorful" [ngClass]="testUser.isTestPass == 0 ? 'fail' : 'passed' " *ngIf="!testUser.isTestPass == 1">Trượt</span>
                                                      </td>
                                                    </tr>
                                                </ng-template>
                                                
                                            </p-table>
                                        </div>
                                    </td>
                                </tr>
                              </ng-template>
                          </p-table>
                      </div>
                  </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr *ngIf="selectCourse">
                  <td colspan="6">Không có bản ghi nào</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>