<div class="user-wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span class="active">Quá trình học tập</span>
    </div>
  </div>
  <div class="grid">
    <div class="grid col-3">
      <div class="col-12 avatar flex justify-content-center">
        <img src="https://hochieuqua7.web.app/images/menu/account.png" width="100px" height="100px">
      </div>
      <div class="col-12 options">
        <div [routerLink]="['/tai-khoan/thong-tin-ca-nhan']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403820.png"/>Thông tin
        </div>
        <div [routerLink]="['/tai-khoan/doi-mat-khau']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/ecommerce/3537059.png"/>Đổi mật khẩu
        </div>
        <div [routerLink]="['/tai-khoan/khoa-hoc-cua-toi']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/office/5204849.png"/>Khóa học của tôi
        </div>
        <div [routerLink]="['/tai-khoan/kich-hoat-khoa-hoc']">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/education/3403561.png"/>Kích hoạt khóa học
        </div>
        <div class="activee">
          <img src="https://hochieuqua7.web.app/images/common/icons/blue/delivery/3861415.png"/>Quá trình học tập
        </div>
      </div>
    </div>
    <div class="grid col-9">
      <div class="col-12">
        <h4>Quá trình học tập</h4>
        
      </div>
    </div>
  </div>
</div>