.options {
  font-size: 18px;
  div {
    margin: 3px 0;
    border: 2px solid #fff;
    padding: 8px 0 8px 5px;
    cursor: pointer;
    &:hover {
      border: 2px solid #008ee2;
      color: #008ee2;
      border-radius: 10px;
    }
  } 
  img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}

.activee {
  background: #01a2ff25;
  border: 2px solid #008ee2 !important;
  border-radius: 10px;
  color: #008ee2;
}

.input {
  margin: 10px
}

.input span {
  color: red;
}

.Btn {
  margin: 10px;
  margin-top: 30px
}

::ng-deep .input .p-inputtext {
  width: 100%;
  border-radius: 30px;
}

::ng-deep .Btn .p-button {
  width: 100%;
  border-radius: 30px;
}

.warning {
  margin-left: 10px;
  color: red;
}

.qtht-left {
  ::ng-deep .p-dropdown {
    border: 1px solid #f1f1fc;
    height: 40px;
    width: 100%;
    .p-dropdown-label {
      font-size: 15px;
      border-radius: 0;
      background: #f7f7fc;
    }
    .p-dropdown-trigger {
      background: #f7f7fc;
      font-size: 15px;
      // border: 1px solid #f1f1fc;
      // border-left: none;
    }
  }
}

.passStatus {
  color: #015fbd;
}