.question {
  border: 1px dashed #b4b4b4;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  .header {
    background: rgba(2,129,255,.548);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  .content {
    margin: 5px 0 !important;
    padding: 10px 15px;
  }
}

.topic {
  font-size: 20px;
  margin-bottom: 15px;
}

::ng-deep .question-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  .p-button {
    margin: 0 2px;
  }
  .p-button-label {
    font-size: 14px;
    padding: 0 15px;
  }
}