<div class="question-wrapper">
  <div *ngFor="let quizz of quizzs; let i=index" class="question">
    <div class="header">
      <span>Câu: {{i + 1}}</span>
      <span>{{quizz.point}} điểm</span>
    </div>
    <div class="content">
      <div class="topic" [mathjax]="quizz.content"></div>
      <div class="answers">
        <app-detail-answer (sendData)="sendData($event)" [quizz]="quizz"></app-detail-answer>
      </div>
    </div>
  </div>
  <div class="question-actions">
    <p-button label="Lưu bài"></p-button>
    <p-button label="Nộp bài" (click)="sendTestUser()"></p-button>
  </div>
</div>

<p-dialog header="Thông báo kết quả" [(visible)]="displayBasic" [style]="{width: '80vw'}">
  <div class="thong-bao">
    <div class="actions">
      <p-button label="Chia sẻ"></p-button>
      <p-button label="Download"></p-button>
    </div>
    <div class="pointer">
      <div class="banner">
        <img src="https://hochieuqua7.web.app/images/common/bg-sharp.png" />
        <h3>Chúc mừng con đã hoàn thành bài thi</h3>
      </div>
      <div class="point">
        <div class="bg-up"></div>
        <div class="bg-down"></div>
        <div class="result-info">
          <div class="result-avatar">
            <img src="https://hochieuqua7.web.app/images/logo.png"/>
          </div>
          <div class="result-user">
            <div>
              Họ tên <span>Nguyen Tuan Dung</span>
            </div>
            <div>
              Ngày sinh <span>--</span>
            </div>
            <div>
              Điện thoại <span>012345678</span>
            </div>
          </div>
          <div class="result-score">
            <img src="https://hochieuqua7.web.app/images/common/score.png" />
            <span>{{pointQuizz}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="score">
        <div>
          <span>Số câu đúng: {{rightQuizz}}</span>
        </div>
        <div>
          <span>Số câu sai: {{quizzs.length - rightQuizz}}</span>
        </div>
        <div>
          <span>Tổng số câu: {{quizzs.length}}</span>
        </div>
        <div>
          <span>Tổng điểm: {{pointQuizz}}</span>
        </div>
      </div>
      <div class="nhan-xet">
        <span>Nhận xét: {{comment2}}</span>
      </div>
    </div>
  </div>
</p-dialog>