<div class="wrapper">
    <div class="grid" *ngIf="!isLoading">
        <div class="col-4">
          <button class="btn btn-success" [routerLink]="['them-moi']">Thêm mới</button>
        </div>
    </div>
    
    <p-table [value]="adviceRequests" responsiveLayout="scroll" *ngIf="!isLoading" >
        <ng-template pTemplate="header" >
            <tr>
                <th>Tên phụ huynh</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Học lực</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
                <th>Tùy chọn</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-adviceRequest >
            <tr>
                <td>{{adviceRequest.name}}</td>
                <td>{{adviceRequest.phone}}</td>
                <td>{{adviceRequest.birthday}}</td>
                <td>
                  {{adviceRequest.academicAbility}}
                </td>
                <td>{{adviceRequest.comment}}</td>
                <td *ngIf="adviceRequest.isAdvice" >
                  <span [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Đã tư vấn</span>
                </td>
                <td *ngIf="!adviceRequest.isAdvice" >
                  <span [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Chưa tư vấn</span>
                </td>
                <td>
                  <div style="float: right;">
                    <p-button label="" styleClass="mr-2" class="p-button-danger" (click)="adviced(adviceRequest)"><i class="pi pi-phone"></i></p-button>
                    <p-button label="View" type="button" styleClass="mr-2" class="p-button-danger" [routerLink]="[adviceRequest.id]"></p-button>
                    <button pButton pRipple type="button" (click)="confirmDeleteAdviceRequest(adviceRequest.id)" label="Delete" class="p-button-danger"></button>
                  </div>
                </td>
            </tr>
        </ng-template>
      </p-table>
</div>