<div class="wrapper">
    <div class="header">
      <div class="guide">
        <span><i class="pi pi-home"></i></span>
        <i>/</i>
        <span>Quản trị</span>
        <i>/</i>
        <span class="active">Yêu cầu tư vấn</span>
      </div>
      <div class="header-2">
        <div class="header-left">
          <div class="empty"></div>
          <div class="main-title">Yêu cầu tư vấn</div>
        </div>
        <div class="header-right">
          <div class="search-btn">
            <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="query.filter"/>
            <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
          </div>
          <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
          <p-button [routerLink]="['them-moi']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
        </div>
      </div>
    </div>

    <p-table [value]="adviceRequests" rowHover="true" responsiveLayout="scroll" *ngIf="!isLoading" >
        <ng-template pTemplate="header" >
            <tr>
                <th style="width: 2.25em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> 
                <th pFrozenColumn style="min-width: 50px;"></th>
                <th>Tên phụ huynh</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Học lực</th>
                <th>Ghi chú</th>
                <th style="width: 130px;">Trạng thái</th>
                <th>Tùy chọn</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-adviceRequest >
            <tr>
                <td>
                  <p-tableCheckbox [value]="adviceRequest"></p-tableCheckbox>
                </td>
                <td pFrozenColumn>
                  <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
                </td>
                <td>{{adviceRequest.name}}</td>
                <td>{{adviceRequest.phone}}</td>
                <td>{{adviceRequest.birthday}}</td>
                <td>
                  {{adviceRequest.academicAbility}}
                </td>
                <td>{{adviceRequest.comment}}</td>
                <td style="width: 130px">
                  <span *ngIf="adviceRequest.isAdvice" [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Đã tư vấn</span>
                  <span *ngIf="!adviceRequest.isAdvice" [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Chưa tư vấn</span>
                </td>
                <td>
                  <div style="float: right;">
                    <p-button label="" styleClass="mr-2" class="p-button-danger" (click)="adviced(adviceRequest)"><i class="pi pi-phone"></i></p-button>
                    </div>
                </td>
            </tr>
            <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
              <ng-template pTemplate>
                  <div class="option" [routerLink]="[adviceRequest.id]">
                      <i class="pi pi-pencil"></i> Xem chi tiết
                  </div>
                  <div class="option" (click)="confirmDeleteAdviceRequest(adviceRequest.id)">
                      <i class="pi pi-trash"></i> Xóa
                  </div>
              </ng-template>
            </p-overlayPanel>
        </ng-template>
      </p-table>
</div>