<div class="wrapper">
    <div class="grid" *ngIf="!isLoading">
        <div class="col-4">
          <button class="btn btn-success" [routerLink]="['them-moi']">Thêm mới</button>
        </div>
    </div>
    
    <p-table [value]="adviceRequests" responsiveLayout="scroll" *ngIf="!isLoading" >
        <ng-template pTemplate="header" >
            <tr>
                <th pFrozenColumn style="min-width: 50px;"></th>
                <th>Tên phụ huynh</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Học lực</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
                <th>Tùy chọn</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-adviceRequest >
            <tr>
              <td pFrozenColumn>
                <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
              </td>
                <td>{{adviceRequest.name}}</td>
                <td>{{adviceRequest.phone}}</td>
                <td>{{adviceRequest.birthday}}</td>
                <td>
                  {{adviceRequest.academicAbility}}
                </td>
                <td>{{adviceRequest.comment}}</td>
                <td *ngIf="adviceRequest.isAdvice" >
                  <span [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Đã tư vấn</span>
                </td>
                <td *ngIf="!adviceRequest.isAdvice" >
                  <span [ngClass]="adviceRequest.isAdvice ? 'isAdvice' : 'nonAdvice' ">Chưa tư vấn</span>
                </td>
                <td>
                  <div style="float: right;">
                    <p-button label="" styleClass="mr-2" class="p-button-danger" (click)="adviced(adviceRequest)"><i class="pi pi-phone"></i></p-button>
                    </div>
                </td>
            </tr>
            <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
              <ng-template pTemplate>
                  <div class="option" [routerLink]="[recruit.id]">
                      <i class="pi pi-pencil"></i> Xem chi tiết
                  </div>
                  <div class="option" (click)="confirmDeleteAdviceRequest(recruit.id)">
                      <i class="pi pi-trash"></i> Xóa
                  </div>
              </ng-template>
            </p-overlayPanel>
        </ng-template>
      </p-table>
</div>