<!-- <img style="margin: 10px;" [src]="" width="250" alt="" /> -->
<form (ngSubmit)="onSubmit()">

  <div class="field">
    <label for="usernameInput" class="block">Avatar</label>
    <br>
    <input formGroupName="usernameInput" class="p-inputtext-lg" id="avatar" type="text" aria-describedby="username-help" pInputText name="avatar" [(ngModel)]="editTeacher.avatar" />
  </div>

  <div class="field">
    <label for="usernameInput" class="block">Username</label>
    <br>
    <input formGroupName="usernameInput" class="p-inputtext-lg" id="username" type="text" aria-describedby="username-help" pInputText name="fullName" [(ngModel)]="editTeacher.fullName" />
  </div>

  <div class="field">
    <label for="orderInput" class="block">Sắp xếp</label>
    <br>
    <input class="p-inputtext-lg" id="sapxep" type="number" aria-describedby="username1-help" pInputText name="order" [(ngModel)]="editTeacher.order" />
  </div>

  <label for="checked" class="block">Hiển thị</label>
  <br>
  <p-toggleButton name="status" [(ngModel)]="editTeacher.status"></p-toggleButton>
  <br>

  <label for="shortDesc" class="block">Mô tả ngắn</label>
  <br>
  <!-- <textarea rows="5" cols="50" pInputTextarea name="descriptionShort" [(ngModel)]="editTeacher.descriptionShort"></textarea> -->
  <ckeditor [editor]="Editor" name="descriptionShort" [(ngModel)]="editTeacher.descriptionShort"></ckeditor>


  <br>
  <label for="detailDesc" class="block">Mô tả chi tiết</label>
  <br>
  <!-- <textarea rows="5" cols="50" pInputTextarea name="description" [(ngModel)]="editTeacher.description"></textarea> -->
  <ckeditor [editor]="Editor" name="description" [(ngModel)]="editTeacher.description"></ckeditor>


  <br>

  <button style="margin: 10px" pButton pRipple label="Cancel" icon="pi pi-times"></button>
  <button 
    style="margin: 10px" 
    type="submit" 
    pButton pRipple 
    label="Save" 
    icon="pi pi-check"
    >
  </button>
</form>



