<div class="wrapper">

  <!-- <div class="row" *ngIf="!isLoading">
    <div class="col-xs-12">
      <button class="btn btn-success" [routerLink]="['them-faq']">Thêm FAQ</button>
    </div>
  </div>
  
  <div style="text-align: center;" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div> -->

  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">FAQ</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">FAQ</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-faq']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  
  
  <p-table [value]="faqs" responsiveLayout="scroll" *ngIf="!isLoading" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> 
            <th pFrozenColumn style="min-width: 50px;"></th>
            <th>Tiêu đề</th>
            <th>Trạng thái</th>
            <th>Sắp xếp</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-faq >
        <tr>
            <td>
              <p-tableCheckbox [value]="faq"></p-tableCheckbox>
            </td>
            <td pFrozenColumn style="min-width: 50px" >
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td>{{faq.title}}</td>
            <td>
              <span class="colorful" [ngClass]="faq.status == 0 ? 'fail' : 'passed' " *ngIf="faq.status == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="faq.status == 0 ? 'fail' : 'passed' " *ngIf="faq.status == 0">Ẩn</span>
            </td>
            <td>
              {{faq.order}}
            </td>
  
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[faq.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="confirmDeleteFAQ(faq.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
  
  <p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>
</div>
