
.wrapper {
  padding-top: 120px !important;
  width: 70%;
  margin: 0 auto;
  z-index: -1000;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 95%;
    padding-top: 120px !important;
    margin: 0 auto;
  }
}

.app-header {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 10;
}