<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Điểm thi</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Điểm thi</div>
      </div>
      <div class="header-right">
        <!-- <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
        </span> -->
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" [(ngModel)]="query.filter" (keydown.enter)="onSearch()" pInputText />
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
      </div>
    </div>
  </div>

  <p-table [value]="testUsers" responsiveLayout="scroll" [scrollable]="true" rowHover="true" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn style="width: 50px;"></th>
        <th pFrozenColumn style="width: 50px;"></th>
        <th pFrozenColumn style="min-width: 200px;">Tên người dùng</th>
        <th style="min-width: 150px;">Tên bài thi</th>
        <th style="min-width: 150px;">Điện thoại</th>
        <th style="min-width: 200px;">Email</th>
        <th style="min-width: 150px;">Số lần thoát</th>
        <th style="min-width: 150px;">Tổng điểm</th>
        <th style="min-width: 150px;">Tổng câu đúng</th>
        <th style="min-width: 150px;">Tổng câu sai</th>
        <th style="min-width: 150px;">Gửi mail</th>
        <th style="min-width: 150px;">Có tự luận</th>
        <th style="min-width: 150px;">Ngày tạo</th>
        <th style="min-width: 150px;">Ngày hoàn thành</th>
        <th style="min-width: 150px;">Ngày sửa</th>
        <th style="min-width: 150px;">Người sửa</th>
        <th style="min-width: 150px;">Lớp</th>
        <th style="min-width: 150px;">Môn học</th>
        <th style="min-width: 150px;">Khóa học</th>
        <th style="min-width: 200px;">Ghi chú</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-testUser>
      <tr>
        <td pFrozenColumn style="width: 50px">
          <button *ngIf="testUser.historiesTestUser.length > 0" type="button" pButton pRipple [pRowToggler]="testUser" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td pFrozenColumn style="width: 50px;" >
          <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
        </td>
        <td pFrozenColumn style="min-width:200px; color: #0b5ed7; font-weight: 650;">{{testUser.userName}}</td>
        <td style="min-width: 150px;">{{testUser.testName}}</td>
        <td style="min-width: 150px;">{{testUser.userPhone}}</td>
        <td style="min-width: 200px;">{{testUser.userEmail}}</td>
        <td style="min-width: 150px;">{{testUser.totalExit}}</td>
        <td style="min-width: 150px;">{{testUser.totalTruthPoint}} / {{testUser.totalPoint}}</td>
        <td style="min-width: 150px;">{{testUser.totalTruth}}</td>
        <td style="min-width: 150px;">{{testUser.totalWrong}}</td>
        <td style="min-width: 150px;">
          <i *ngIf="testUser.isSendMail" class="pi pi-check" style="font-size: 1.5rem"></i>
          <i *ngIf="!testUser.isSendMail" class="pi pi-times" style="font-size: 1.5rem"></i>
        </td>
        <td style="min-width: 150px;">
          <i *ngIf="testUser.isTestPass" class="pi pi-check" style="font-size: 1.5rem"></i>
          <i *ngIf="!testUser.isTestPass" class="pi pi-times" style="font-size: 1.5rem"></i>
        </td>
        <td style="min-width: 150px;">{{testUser.createdDate}}</td>
        <td style="min-width: 150px;">{{testUser.finishedDate}}</td>
        <td style="min-width: 150px;">{{testUser.modifiedDate}}</td>
        <td style="min-width: 150px;">{{testUser.extraComment}}</td>
        <td style="min-width: 150px;">{{testUser.classRoomName}}</td>
        <td style="min-width: 150px;">{{testUser.subjectName}}</td>
        <td style="min-width: 150px;">{{testUser.courseName}}</td>
        <td style="min-width: 200px;">{{testUser.comment}}</td>
      </tr>
      <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
        <ng-template pTemplate>
            <div class="option" [routerLink]="[testUser.id]">
                <i class="pi pi-pencil"></i> Sửa
            </div>
            <div class="option" (click)="onDeleteTestUser(testUser.id)">
                <i class="pi pi-trash"></i> Xóa
            </div>
        </ng-template>
      </p-overlayPanel>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-testUser>
      <tr>
        <td colspan="7">
          <div class="p-p-3">
            <p-table [value]="testUser.historiesTestUser" dataKey="id" rowHover="true">
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th pFrozenColumn style="width: 50px"></th> -->
                  <th style="min-width: 200px;" pFrozeColumn>Tên bài thi</th>
                  <th style="min-width: 220px;">Số lần thoát</th>
                  <th style="min-width: 220px;">Tổng điểm</th>
                  <th style="min-width: 220px;">Tổng câu đúng</th>
                  <th style="min-width: 220px;">Tổng câu sai</th>
                  <th style="min-width: 220px;">Gửi Mail</th>
                  <th style="min-width: 220px;">Có tự luận</th>
                  <th style="min-width: 220px;">Ngày tạo</th>
                  <th style="min-width: 220px;">Ngày hoàn thành</th>
                  <th style="min-width: 220px;">Ngày sửa</th>
                  <th style="min-width: 220px;">Người sửa</th>
                  <th style="min-width: 220px;">Ghi chú</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-history>
                <!-- <td pFrozenColumn style="width: 50px;">
                  <span class="choose" (click)="op2.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
                </td> -->
                <td style="min-width: 200px;" pFrozeColumn>{{history.testName}}</td>
                <td style="min-width: 220px;">{{history.totalExit}}</td>
                <td style="min-width: 220px;">{{history.totalPoint}}</td>
                <td style="min-width: 220px;">{{history.totalTruth}}</td>
                <td style="min-width: 220px;">{{history.totalWrong}}</td>
                <td style="min-width: 220px;">
                  <i *ngIf="history.isSendMail" class="pi pi-check" style="font-size: 1.5rem"></i>
                  <i *ngIf="!history.isSendMail" class="pi pi-times" style="font-size: 1.5rem"></i>
                </td>
                <td style="min-width: 220px;">
                  <i *ngIf="history.isTestPass" class="pi pi-check" style="font-size: 1.5rem"></i>
                  <i *ngIf="!history.isTestPass" class="pi pi-times" style="font-size: 1.5rem"></i>
                </td>
                <td style="min-width: 220px;">{{history.createdDate}}</td>
                <td style="min-width: 220px;">{{history.finishedDate}}</td>
                <td style="min-width: 220px;">{{history.modifiedDate}}</td>
                <td style="min-width: 220px;">{{history.extraComment}}</td>
                <td style="min-width: 220px;">{{history.comment}}</td>
                <p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '180px'}">
                  <ng-template pTemplate>
                      <div class="option">
                          <i class="pi pi-pencil"></i> Sửa
                      </div>
                      <div class="option" >
                          <i class="pi pi-trash"></i> Xóa
                      </div>
                  </ng-template>
                </p-overlayPanel>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>