<div class="wrapper">
	<div class="header">
		<div class="guide">
			<span><i class="pi pi-home"></i></span>
			<i>/</i>
			<span>Quản trị</span>
			<i>/</i>
			<span>FAQ</span>
			<i>/</i>
			<span class="active">Chi tiết Câu hỏi</span>
		</div>
		<div class="header-2">
			<div class="header-left">
				<div class="empty"></div>
				<div class="main-title" *ngIf="id && id != 'them-faq'" >Chi tiết Câu hỏi</div>
				<div class="main-title" *ngIf="id == 'them-faq' || !id" >Thêm Câu hỏi</div>
			</div>
			<div class="header-right">
			</div>
		</div>
	</div>
  <div class="detail grid">
    <div class="col-12">
      <small>Tiêu đề</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-user"></i>
          <input formGroupName="usernameInput" class="p-inputtext-lg" id="username" type="text" aria-describedby="username-help" pInputText name="title" [(ngModel)]="editFAQ.title" />
        </span>
      </div>
    </div>
    <div class="col-6">
      <small>Thứ tự</small>
      <div>
        <span class="p-input-icon-right">
          <i class="pi pi-user"></i>
          <input class="p-inputtext-lg" id="sapxep" type="number" aria-describedby="username1-help" pInputText name="order" [(ngModel)]="editFAQ.order" />
        </span>
      </div>
    </div>
    <div class="col-6 inputSwitch">
      <small>Hiển thị</small>
      <p-inputSwitch [(ngModel)]="editFAQ.status"></p-inputSwitch>
    </div>
    <div class="col-12">
      <small>Nội dung bài viết</small>
      <ckeditor [editor]="Editor" name="content" [(ngModel)]="editFAQ.content"></ckeditor>
    </div>
    <div class="detail-action">
      <div class="cancel-btn">
        <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
      </div>
      <div class="save-btn">
        <p-button label="Lưu" (click)="onSubmit()" icon="pi pi-check"></p-button>
      </div>
    </div>
  </div>
</div>



