<div class="wrapper">
  <div class="image">
    <img [src]="detailCourse.courseBanner" />
  </div>
  <div class="action">
    <div class="btn-left">
      <p-button label="Thông tin khóa học" styleClass="p-button" ></p-button>
    </div>
    <div class="btn-right">
      <p-button label="Chương trình học" styleClass="p-button" ></p-button>
    </div>
  </div>
  <div class="info">
    <p class="header">Thông tin khóa học</p>
    <div class="text">
      <div [innerHTML]="detailCourse.courseInfo1"></div>
    </div>
  </div>
  
</div>