

<!-- <div class="banner">
  <img src="https://hochieuqua7.web.app/images/user/recruitment/hiring.jpg" />
</div> -->

<div class="user-wrapper">
  <div class="content">
    <div class="title">
      <div class="label">Ai nên đăng ký giảng dạy trên Học hiệu quả</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080068315072806_graduate.png" alt="avatar"/>
        </div>
        <div class="text">Chuyên gia</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080068965309390_presentation.png" alt="avatar" />
        </div>
        <div class="text">Giảng viên</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080065553037291_2861731.png"  alt="avatar"/>
        </div>
        <div class="text">Doanh nhân</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080066242121579_7366336.png" alt="avatar" />
        </div>
        <div class="text">Doanh nghiệp</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">Lý do nên giảng dạy trên Học hiệu quả</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080067959871025_9066673.png" alt="avatar"/>
        </div>
        <div class="text">Chuyên gia</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080068021174160_9089461.png" alt="avatar" />
        </div>
        <div class="text">Quảng bá tới hàng triệu học viên</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080067636368761_5980133.png"  alt="avatar"/>
        </div>
        <div class="text">Chia sẻ lợi nhuận</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">4 bước để trở thành giảng viên Học hiệu quả</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080064977264345_1698538.png" alt="avatar"/>
        </div>
        <div class="text">Đăng ký giảng viên</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080068965309390_presentation.png" alt="avatar" />
        </div>
        <div class="text">Viết outline</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080066035331801_3652196.png"  alt="avatar"/>
        </div>
        <div class="text">Upload video</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080068412966193_online-learning.png" alt="avatar" />
        </div>
        <div class="text">Lauching khóa học</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">Học hiệu quả là e-learning platform</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080065510154697_2808600.png" alt="avatar"/>
        </div>
        <div class="text">HHQ Partner</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080069008867230_puzzle.png" alt="avatar" />
        </div>
        <div class="text">Sứ mệnh</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080064933645968_1478956.png"  alt="avatar"/>
        </div>
        <div class="text">HHQ Student</div>
      </div>
    </div>
  </div>
  
  <div class="list" *ngFor="let tuyendung of recruit">
    <app-tuyen-dung-item [tuyendung]="tuyendung"></app-tuyen-dung-item>
  </div>
</div>