<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="carousel">
  <p-carousel [value]="imageSlider" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
    <ng-template let-slide pTemplate="item">
      <img [src]="slide.imageUrl" class="slide-image" />
    </ng-template>
  </p-carousel>
</div>

<div class="class-wrapper">
  <app-class [home]="home"></app-class>
</div>

<br>

<div style="width: 65%; margin: 0 auto;" *ngFor="let subject of home?.subjects">
  <app-tong-quan-subject [subject]="subject"></app-tong-quan-subject>
</div>

<div style="width: 65%; margin: 0 auto;">
  <div class="header-title">
    <span>Tham gia HocHieuQua với 4 bước</span>
  </div>
  <img src="https://hochieuqua7.web.app/images/user/introduce/stepimg.png" width="100%" />
  <div class="report"  style="background: #4088d4;">
    <div class="report-list">
      <div class="report-item">
        <h3>500.000+</h3>
        <p>Học viên</p>
      </div>
      <div class="report-item">
        <h3>5.000+</h3>
        <p>Bài giảng</p>
      </div>
      <div class="report-item">
        <h3>200.000+</h3>
        <p>Bài ôn tập</p>
      </div>
      <div class="report-item">
        <h3>4.000+</h3>
        <p>Đề luyện thi</p>
      </div>
    </div>
  </div>
</div>

<div class="teacher"  style="width: 65%; margin: 0 auto">
  <div class="header-title">
    <span>Đội ngũ giáo viên</span>
  </div>
  <app-teacher [home]="home"></app-teacher>
  <div class="view-all">
    <p [routerLink]="['/giao-vien']">Xem tất cả <i class="pi pi-fast-forward"></i></p>
  </div>
</div>

<div class="quizs" style="width: 100%">
  <div style="width: 65%; margin: 0 auto">
    <div class="header-title">
      <span>Đố vui</span> 
    </div>
    <app-quiz [home]="home"></app-quiz>
    <div class="view-all">
      <p [routerLink]="['/gioi-thieu']">Xem tất cả <i class="pi pi-fast-forward"></i></p>
    </div>
  </div>
</div>


