<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="carousel user-wrapper">
  <p-carousel [value]="imageSlider" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
    <ng-template let-slide pTemplate="item">
      <img [src]="slide.imageUrl" class="slide-image" />
    </ng-template>
  </p-carousel>
</div>

<div class="class-wrapper">
  <app-class [home]="home"></app-class>
</div>

<br>

<div class="user-wrapper" *ngFor="let subject of home?.subjects">
  <app-tong-quan-subject [subject]="subject"></app-tong-quan-subject>
</div>

<div class="user-wrapper">
  <div class="title">
    <div class="label">Tham gia HocHieuQua với 4 bước</div>
    <div class="empty-title"></div>
  </div>
  <img src="https://hochieuqua7.web.app/images/user/introduce/stepimg.png" width="100%" />
  <div class="report"  style="background: #4088d4;">
    <div class="report-list">
      <div class="report-item">
        <h3>500.000+</h3>
        <p>Học viên</p>
      </div>
      <div class="report-item">
        <h3>5.000+</h3>
        <p>Bài giảng</p>
      </div>
      <div class="report-item">
        <h3>200.000+</h3>
        <p>Bài ôn tập</p>
      </div>
      <div class="report-item">
        <h3>4.000+</h3>
        <p>Đề luyện thi</p>
      </div>
    </div>
  </div>
</div>

<div class="user-wrapper">
  <div class="content">
    <div class="title">
      <div class="label">Cuộc thi sắp diễn ra</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638097592950367668_logo-sasmo-300x151.jpg" alt="avatar"/>
        </div>
        <div class="text">SASMO - tên viết tắt của SINGAPORE AND ASIAN SCHOOLS MATH OLYMPIADS . Là một trong những kỳ thi toán học lớn nhất châu Á hiện nay. SASMO được tổ chức mỗi năm 1 lần để tạo điều kiện cho các em học sinh giỏi và yêu thích môn Toán học có cơ hội giao lưu, học hỏi, đồng thời thể hiện sự tự tin, bản lĩnh của mình trên đấu trường Quốc tế. Với nhiều thí sinh các nước Châu Á tham gia tranh tài với nhau : Malaysia, Việt Nam, Trung Quốc, Myanmar, philippines...</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638097589758326837_tải xuống.jfif" alt="avatar"/>
        </div>
        <div class="text">MỤC ĐÍCH CỦA KỲ THI • Giúp học sinh tiểu học và trung học cơ sở trên cả nước có cơ hội tham gia một kỳ thi chuẩn quốc tế; • Nâng cao chất lượng dạy và học toán; phát triển, bồi dưỡng các học sinh có năng khiếu Toán học; • Khuyến khích học sinh nắm vững kiến cơ bản và thúc đẩy hiểu sâu các kiến thức Toán học;</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">Tham gia học với 4 bước đơn giản</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content bg">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638094143746446951_tim kiem.gif" alt="avatar"/>
        </div>
        <div class="text">Tìm kiếm</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638094174988213925_mien phi.gif" alt="avatar"/>
        </div>
        <div class="text">Học thử</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638094179607024960_tien 4.gif" alt="avatar"/>
        </div>
        <div class="text">Thanh toán</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638094174286198871_hop video.gif" alt="avatar"/>
        </div>
        <div class="text">Vào học</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">Lý do học tập tại Học Hiệu Quả</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080063672055902_906175.png" alt="avatar"/>
        </div>
        <div class="text">100+ Giảng viên</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080065418218595_2231642.png" alt="avatar"/>
        </div>
        <div class="text">Bài giảng chất lượng</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080067636368761_5980133.png" alt="avatar"/>
        </div>
        <div class="text">Học mãi mãi</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080065459054377_2472253.png" alt="avatar"/>
        </div>
        <div class="text">Hỗ trợ trực tiếp</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080067340447889_5466095.png" alt="avatar"/>
        </div>
        <div class="text">Hỗ trợ 24/7</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="title">
      <div class="label">Trải nghiệm phương pháp học hiện đại</div>
      <div class="empty-title"></div>
    </div>
    <div class="main-content bg">
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080064933645968_1478956.png" alt="avatar"/>
        </div>
        <div class="text">Học mọi lúc mọi nơi</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080065867317001_3459504.png" alt="avatar"/>
        </div>
        <div class="text">Chi phí hợp lý</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080067868101826_9066641.png" alt="avatar"/>
        </div>
        <div class="text">Tính ứng dụng cao</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080066733821910_4214144.png" alt="avatar"/>
        </div>
        <div class="text">Tương tác giảng viên</div>
      </div>
      <div class="content">
        <div class="image">
          <img src="https://api.hochieuqua.vn/images/638080066242121579_7366336.png" alt="avatar"/>
        </div>
        <div class="text">Hỗ trợ 24/7</div>
      </div>
    </div>
  </div>
</div>

<div class="teacher user-wrapper">
  <div class="header-title">
    <span>Đội ngũ giáo viên</span>
  </div>
  <app-teacher [home]="home"></app-teacher>
  <div class="view-all">
    <p [routerLink]="['/giao-vien']">Xem tất cả <i class="pi pi-fast-forward"></i></p>
  </div>
</div>

<div class="quizs" style="width: 100%">
  <div class="user-wrapper">
    <div class="header-title">
      <span>Đố vui</span> 
    </div>
    <app-quiz [home]="home"></app-quiz>
    <div class="view-all">
      <p [routerLink]="['/gioi-thieu']">Xem tất cả <i class="pi pi-fast-forward"></i></p>
    </div>
  </div>
</div>


