
<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span [routerLink]="['quan-tri/tin-tuc']">Tin tức</span>
      <i>/</i>
      <span class="active">Chi tiết Tin tức</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title" *ngIf="id && id != 'them-moi'" >Chi tiết Tin tức</div>
        <div class="main-title" *ngIf="id == 'them-moi'" >Thêm Tin tức</div>
      </div>
      <div class="header-right">
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-3">
      <div class="uploadWrapper">
        <img [src]="editNew.avatar ? editNew.avatar : 'https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png'" width="220" height="200" />
        <p-button icon="pi pi-upload" (click)="uploadImage('avatar')" label="Ảnh đại diện"></p-button>
      </div>
    </div>
    <div class="col-9">
      <div class="detail grid">
        <div class="col-12">
          <small>Tiêu đề</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-user"></i>
              <input id="title" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editNew.title" name="title"/>
            </span>
          </div>
        </div>
        <div class="col-12">
          <small>Tags</small>
          <p-chips [(ngModel)]="editNew.tags" name="tags" ></p-chips>
        </div>
        <div class="col-6">
          <small>Danh mục</small>
          <p-dropdown [options]="newCategoryOption" [(ngModel)]="editNew.categoryId" optionLabel="name" optionValue="code" name="subjectId"></p-dropdown>
        </div>
        <div class="col-6">
          <small>Thứ tự</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-sort-numeric-down"></i>
              <input id="order" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editNew.order" name="order"/>
            </span>
          </div>
        </div>
        <div class="col-3">
          <small>Đánh giá</small>
          <p-rating [(ngModel)]="editNew.rate" name="rate" [cancel]="false"></p-rating>
        </div>
        <div class="col-3 inputSwitch">
          <small>Hiển thị</small>
          <p-inputSwitch [(ngModel)]="editNew.status" name="status"></p-inputSwitch>
        </div>
        <div class="col-12">
          <label for="order" class="block">Mô tả ngắn</label>
          <editor
            [init]="editorConfig" [(ngModel)]="editNew.shortContent"
          ></editor>
        </div>
        <div class="col-12">
          <label for="order" class="block">Mô tả chi tiết</label>
          <editor
            [init]="editorConfig" [(ngModel)]="editNew.content"
          ></editor>
        </div>
        <div class="detail-action">
          <div class="cancel-btn">
            <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
          </div>
          <div class="save-btn">
            <p-button label="Lưu" (click)="onSubmit()" icon="pi pi-check"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>