input {
  width: 100%;
}

form {
  width: 80%;
  margin: 0 auto;
}

::ng-deep .p-dropdown  {
  width: 100%;
}

::ng-deep .p-chips  {
  width: 100%;
}

img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

::ng-deep .ck-content {
  height: 150px;
}