<div style="margin: 10px"></div>

<div style="text-align: center;" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<form (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="grid">
    <div class="col-3">
      <img [src]="editNew.avatar ? editNew.avatar : defaultAvatar" width="220" height="200" />
    </div>
    <div class="col-9">
      <div class="grid">
        <div class="col-12">
          <label for="avatar" class="block">Avatar</label>
          <input id="avatar" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editNew.avatar" name="avatar"/>
        </div>
        <div class="col-12">
          <label for="title" class="block">Tiêu đề</label>
          <input id="title" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editNew.title" name="title"/>
        </div>
        <div class="col-12">
          <label for="order" class="block">Thứ tự</label>
          <input id="order" type="username" aria-describedby="avatar-help" pInputText [(ngModel)]="editNew.order" name="order"/>
        </div>
        <div class="col-3">
          <label for="order" class="block">Tags</label>
          <p-chips [(ngModel)]="editNew.tags" name="tags" ></p-chips>
        </div>
        <div class="col-3">
          <label for="order" class="block">Danh mục</label>
          <p-dropdown [options]="newCategoryOption" [(ngModel)]="editNew.categoryId" optionLabel="name" optionValue="code" name="subjectId"></p-dropdown>
        </div>
        <div class="col-3">
          <label for="order" class="block">Đánh giá</label>
          <p-rating [(ngModel)]="editNew.rate" name="rate" [cancel]="false"></p-rating>
        </div>
        <div class="col-3">
          <label for="order" class="block">Hiển thị</label>
          <p-inputSwitch [(ngModel)]="editNew.status" name="status"></p-inputSwitch>
        </div>
        <div class="col-12">
          <label for="order" class="block">Mô tả ngắn</label>
          <ckeditor [editor]="Editor" name="shortContent" [(ngModel)]="editNew.shortContent"></ckeditor>
        </div>
        <div class="col-12">
          <label for="order" class="block">Mô tả chi tiết</label>
          <ckeditor [editor]="Editor" name="content" [(ngModel)]="editNew.content"></ckeditor>
        </div>
      </div>
      <button style="margin: 10px" pButton pRipple label="Cancel" icon="pi pi-times"></button>
      <button 
        style="margin: 10px" 
        type="submit" 
        pButton pRipple 
        label="Save" 
        icon="pi pi-check"
        >
      </button>
    </div>
  </div>
</form>