<div class="wrapper">
  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Câu hỏi</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Câu hỏi</div>
      </div>
      <div class="header-right">
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <p-button (click)="op2.toggle($event)" label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button>
        <p-button [routerLink]="['them-giao-vien']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  <p-table [value]="testQuestions" [scrollable]="true" responsiveLayout="scroll" rowHover="true">
    <ng-template pTemplate="header">
      <tr>
          <th style="width: 2.25em" pFrozenColumn>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th> 
          <th pFrozenColumn style="width: 50px;"></th>
          <th pFrozenColumn style="min-width:200px">Tên</th>
          <th style="min-width:200px">Loại câu hỏi</th>
          <th style="min-width:200px">Nhóm</th>
          <th style="min-width:200px">Sắp xếp</th>
          <th style="min-width:200px">Số điểm</th>
          <th style="min-width:200px">Độ khó</th>
          <th style="min-width:200px">Nội dung</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-testQuestion>
      <tr>
        <td style="width: 2.25em" pFrozenColumn>
          <p-tableCheckbox [value]="testQuestion"></p-tableCheckbox>
        </td>
        <td pFrozenColumn style="width: 50px" >
          <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
        </td>
        <td pFrozenColumn style="min-width:200px; color: #0b5ed7; font-weight: 650;">{{testQuestion.name}}</td>
        <td style="min-width:200px">{{testQuestion.testQuestionTypeName}}</td>
        <td style="min-width:200px">{{testQuestion.testQuestionGroupName}}</td>
        <td style="min-width:200px">{{testQuestion.order}}</td>
        <td style="min-width:200px">{{testQuestion.point}}</td>
        <td style="min-width:200px">
          <span *ngIf="testQuestion.level == 1">Dễ</span>
          <span *ngIf="testQuestion.level == 2">Trung bình</span>
          <span *ngIf="testQuestion.level == 3">Khó</span>
          <span *ngIf="testQuestion.level == 4">Rất khó</span>
        </td>
        <td style="min-width:200px">
          <!-- <div [innerHTML]="testQuestion.content"></div> -->
        </td>
      </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[teacher.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="onDeleteTeacher(teacher.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
        </p-overlayPanel>
    </ng-template>  
  </p-table>
</div>
<p-paginator  [rows]="params.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>

<p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: '500px'}">
  <ng-template pTemplate>
    <div class="grid search_advance">
      <div class="col-12 search_advance_title">Tìm kiếm nâng cao</div>
      <div class="grid search_advance_main">
        <div class="col-12">
          <small>Loại câu hỏi</small>
          <p-dropdown [(ngModel)]="params.testQuestionTypeCode" [options]="testQuestionTypeOptions" placeholder="Loại câu hỏi"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Nhóm câu hỏi</small>
          <p-dropdown [(ngModel)]="params.testQuestionGroupId" [options]="testQuestionGroupOptions" placeholder="Nhóm câu hỏi"></p-dropdown>
        </div>
        <div class="col-12">
          <small>Độ khó câu hỏi</small>
          <p-dropdown [(ngModel)]="params.level" [options]="levelOptions" placeholder="Độ khó"></p-dropdown>
        </div>
      </div>
      <div class="search_advance_actions">
        <p-button label="Làm mới" icon="pi pi-sync"></p-button>
        <p-button label="Tìm kiếm" (click)="onSearch()" icon="pi pi-search"></p-button>
      </div>  
    </div>
  </ng-template>
</p-overlayPanel>