<div class="row" *ngIf="!isLoading">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['them-mon-hoc']">Thêm slide</button>
  </div>
</div>

<div style="text-align: center;" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-table [value]="slides" responsiveLayout="scroll" *ngIf="!isLoading">
  <ng-template pTemplate="header">
      <tr>
          <th>Hình ảnh</th>
          <th>Tên</th>
          <th>Sắp xếp</th>
          <th>Màn hình</th>
          <th>Tùy chọn</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-slide >
      <tr>
          <td><img [src]="slide.imageUrl" [alt]="slide.name" width="100" class="shadow-4" /></td>
          <td>{{slide.name}}</td>
          <td>
            {{slide.order}}
          </td>
          <td>{{slide.screen}}</td>

          <td>
            <div style="float: right;">
              <!-- <button class="btn btn-primary" style="margin: 2px;" [routerLink]="[slide.id]">Edit</button> -->

              <p-button label="Edit" styleClass="mr-2" class="p-button-danger" [routerLink]="[slide.id]"></p-button>
              <button pButton pRipple type="button"  label="Delete" class="p-button-danger"></button>

            </div>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[2,5,10]"></p-paginator>
