/* .wrapper {
    width: 80%;
    margin: 0 auto;
} */

::ng-deep .wrapper .p-inputtext-lg {
    width: 50%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 265px;
}

form {
    margin-top: 10px;
}