<div class="wrapper">
	<div class="header">
		<div class="guide">
			<span><i class="pi pi-home"></i></span>
			<i>/</i>
			<span>Quản trị</span>
			<i>/</i>
			<span>Giáo viên</span>
			<i>/</i>
			<span class="active">Chi tiết Giáo viên</span>
		</div>
		<div class="header-2">
			<div class="header-left">
				<div class="empty"></div>
				<div class="main-title" *ngIf="id && id != 'them-giao-vien'" >Chi tiết Giáo viên</div>
				<div class="main-title" *ngIf="id == 'them-giao-vien' || !id" >Thêm Giáo viên</div>
			</div>
			<div class="header-right">
			</div>
		</div>
	</div>

	<div class="grid">
		<div class="col-3">
      <div class="uploadWrapper">
        <img *ngIf="!editTeacher.avatar" src="https://hochieuqua7.web.app/images/admin/setting/slide/empty-image.png"/>
        <img *ngIf="editTeacher.avatar" [src]="editTeacher.avatar" />
        <p-button icon="pi pi-upload" (click)="uploadImage('avatar')" label="Ảnh đại diện"></p-button>
      </div>
		</div>
		<div class="col-9 ">
			<div class="detail grid">
        <div class="col-6">
          <small>Tài khoản</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-user"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="avatar" type="text" aria-describedby="username-help" pInputText name="avatar" [value]="editTeacher.name +  ' - '  +editTeacher.userName" disabled="true" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>Tên giáo viên</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-sort-alpha-down"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="username" type="text" aria-describedby="username-help" pInputText name="name" [(ngModel)]="editTeacher.name" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>Email</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-envelope"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="email" type="text" aria-describedby="username-help" pInputText name="email" [(ngModel)]="editTeacher.email" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>Điện thoại</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-phone"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="phone" type="text" aria-describedby="username-help" pInputText name="phone" [(ngModel)]="editTeacher.phone" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>Địa chỉ</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-map-marker"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="address" type="text" aria-describedby="username-help" pInputText name="address" [(ngModel)]="editTeacher.address" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>CCCD/CMDN</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-id-card"></i>
              <input formGroupName="usernameInput" class="p-inputtext-lg" id="identityNo" type="text" aria-describedby="username-help" pInputText name="identityNo" [(ngModel)]="editTeacher.identityNo" />
            </span>
          </div>
        </div>
        <div class="col-6">
          <small>Sắp xếp</small>
          <div>
            <span class="p-input-icon-right">
              <i class="pi pi-sort-numeric-down"></i>
              <input class="p-inputtext-lg" id="sapxep" type="number" aria-describedby="username1-help" pInputText name="order" [(ngModel)]="editTeacher.order" />
            </span>
          </div>
        </div>
        <div class="col-6 inputSwitch">
          <small>Hiển thị</small>
          <p-inputSwitch [(ngModel)]="editTeacher.status"></p-inputSwitch>
        </div>
        <div class="col-12 ckeditor">
          <editor
            [init]="editorConfig" [(ngModel)]="editTeacher.descriptionShort"
          ></editor>
        </div>
        <div class="col-12 ckeditor">
          <editor
            [init]="editorConfig" [(ngModel)]="editTeacher.description"
          ></editor>
        </div>
        <div class="detail-action">
          <div class="cancel-btn">
            <p-button label="Hủy" icon="pi pi-times" (click)="cancel()"></p-button>
          </div>
          <div class="save-btn">
            <p-button label="Lưu" (click)="onSubmit()" icon="pi pi-check"></p-button>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>