.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 31px 2px #a9a6a6;
}

@media only screen and (max-width: 1480px) {
  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 31px 2px #a9a6a6;
  }
}

.main .main-left {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px ;

  background: #1e90ff;
}

.image img {
  /* margin-top: 35px; */
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.main-right {
  padding: 10px;

}

.desc {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.right-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.right-desc .text {
  font-weight: bold;
  font-size: 17px;
}

.register {
  color: #1e90ff;
  cursor: pointer;
}

.register:hover {
  text-decoration: underline;
}

.main-right {
  width: 100%;
}

.input-right {
  width: 100%;
}

.form-group {
  width: 100%;
}

::ng-deep .p-input-icon-left {
  width: 100%;
  height: 40px;
}

::ng-deep .form-group .p-inputtext {
  font-size: 14px;
  height: 40px;
  width: 100%;
}

::ng-deep .action {
  margin-top: 8px;
  .p-button {
    font-size: 13px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 18px !important;
}

.form-group .label {
  z-index: 1;
  color: black;
  font-weight: lighter;
  top: -7px;
  left: 18px;
  // width: 10px;
  position: absolute;
  background: #fff;
  font-size: 12px;
}

.form-group .input {
  z-index: 0;
  i {
    font-size: 14px;
  }
}

.warning {
  padding-left: 8px;
  color: red;
  height: 14px;

}

.pre-warning {
  padding-left: 8px;
  height: 14px;
  background-color: #fff;
}

.passwordField {
  position: relative;
  .eye {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 7px;
    transform:translate(-50%,-50%);
  }
}