<app-banner-mon-hoc [detailCourse]="detailCourse" [teacherName]="teacherName"></app-banner-mon-hoc>

<div class="user-wrapper">
  <div class="wrapper">
    <div class="detail-left">
      <app-detail-mon-hoc-left [detailCourse]="detailCourse" ></app-detail-mon-hoc-left>
      
      <app-detail-chuong-trinh-hoc [courseSchedules]="detailCourse.courseSchedules"></app-detail-chuong-trinh-hoc>
  
      <app-detail-danh-gia [detailCourse]="detailCourse"></app-detail-danh-gia>
    </div>
    <div class="detail-right">
      <app-detail-mon-hoc class="detail-mon-hoc" [detailCourse]="detailCourse" [teacherName]="teacherName" [isPayment]="isPayment"></app-detail-mon-hoc>
    </div>
  </div>
</div>