.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
  grid-gap: 20px;
}

.detail-right {
  padding: 10px;
  transform: translateY(-50px);
  border: 1px solid #80808024;
  border-radius: 10px;
  box-shadow: 0 0 5px #808080ad;
  background: #fff;
}