.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
  grid-gap: 20px;
}

.detail-right {
  height: fit-content;
  padding: 10px;
  transform: translateY(-50px);
  border: 1px solid #80808024;
  border-radius: 10px;
  box-shadow: 0 0 5px #808080ad;
  background: #fff;
}

.relate-title {
  position: relative;
  margin: 10px 0;
  .title2 {
    color: #0c0c0c;
    font-size: 22px;
    font-weight: bolder;
    padding: 5px 0;
  }
  .empty {
    height: 5px;
    background-color: rgba(0, 115, 247, 0.5);
    border-radius: 40%;
    position: absolute;
    width: 60px;
    bottom: 5px;
    left: 5px;
  }
}