<div class="chat-wrapper">
    <div class="grid mt-1">
        <div class="col-3">
            <div class="flex justify-content-between align-items-center chat_header">
                <h4>Chat</h4>
                <span><i class="pi pi-user-plus"></i></span>
            </div>
            <div>
                <input class="w-full" type="text" pInputText > 
            </div>
            <div class="chat_user-list flex flex-column">
                <div *ngFor="let conv of conversationList" [ngClass]="chatSelected && (conv.conversationId == chatSelected.conversationId) ? 'chat-active' : '' " class="chat_user-item" (click)="selectChat(conv)" (mouseenter)="showChild(conv.conversationId)" (mouseleave)="hideChild()">
                    <div class="chat_user-avatar">
                        <img [src]="conv.avatar" (error)="errorHandler($event)" [alt]="conv.name" height="50" width="50"/>
                    </div>
                    <div class="chat_user-content">
                        <div class="chat_user-username">
                            {{conv.name}}
                            <i style="color: #0866FF; font-size: 8px" class="pi pi-circle-fill"></i>
                        </div>
                        <div class="flex justify-content-between">
                            <div class="chat_user-last">
                                <div>{{conv.lastMessage}}</div>
                                <div>{{conv.lastMessageDate}}</div>
                            </div>
                            <span class="chat_user-option" *ngIf="isChildVisible && conv.conversationId == hoverConversation"><i class="pi pi-ellipsis-h"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat_content" [ngClass]="showMedia ? 'col-7' : 'col-9'" *ngIf="isSelect">
            <div class="chat_content-main">
                <div class="chat_content-header">
                    <div class="chat-avatar">
                        <img [src]="chatSelected.avatar" [alt]="chatSelected.name" (error)="errorHandler($event)" width="50" height="50"/>
                        <span>{{chatSelected.name}}</span>
                    </div>
                    <div (click)="openMedia()">
                        <span><i class="pi pi-info-circle"></i></span>
                    </div>
                </div>
                <div #scrollContainer class="chat_content-body">
                    <div class="chat_content-list">
                        <div class="chat_content-item" *ngFor="let msg of messageList" [ngClass]="msg.senderAccountId == accoundId ? 'right' : 'left' ">
                            <div *ngIf="msg.messageTypeId == 'image'; else message">
                                <img [src]="'https://tank8.bsite.net/images/' + msg.content" height="300px" width="250px" style="object-fit: contain;"/>
                            </div>
                            <ng-template #message>
                                <span>{{msg.content}}</span>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="chat_content-action">
                    <div class="chat_content-action_attack">
                        <i class="pi pi-paperclip"></i>
                    </div>
                    <div class="chat_content-action_input">
                        <textarea [(ngModel)]="chatAnswer" (keydown.enter)="sendAnswer()"></textarea>
                    </div>
                    <div class="chat_content-action_send" (click)="sendAnswer()">
                        <i class="pi pi-send"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showMedia" [ngClass]="showMedia ? 'col-2' : ''">
            <app-chat-info *ngIf="showMedia" [chatSelected]="chatSelected" (updateName)="updateName($event)" (updateAvatar)="updateAvatar($event)"></app-chat-info>
        </div>
        <!-- <div class="col-3" *ngIf="isSelect">C</div> -->
    </div>
</div>

<audio id="notiSound">
    <source src="assets/facebook-messenger-sound.mp3" type="audio/mpeg">
</audio>