<div class="quizz" *ngFor="let quizz of test.quizzs; let i=index">
    <div class="header">
        <span>Câu hỏi {{i+1}}</span>
        <span>{{quizz.point}} điểm</span>
    </div>
    <div class="content">
        <div *ngIf="quizz.id != quizzEdit" class="title_quizz" [innerHTML]="quizz.content"></div>
        <div *ngIf="isEdit && quizz.id == quizzEdit" class="quizz_editor">
            <div class="grid detail">
                <div class="col-12">
                    <small>Tên câu hỏi</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.name"/>
                        </span>
                    </div>
                </div>
                <div class="col-3">
                    <small>Loại câu hỏi</small>
                    <div class="input">
                        <p-dropdown [options]="questionTypeOptions" [(ngModel)]="quizz.testQuestionTypeCode"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Nhóm câu hỏi</small>
                    <div class="input">
                        <p-dropdown [options]="questionGroupOptions" [(ngModel)]="quizz.testQuestionGroupId"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Độ khó</small>
                    <div class="input">
                        <p-dropdown [options]="levelOptions" [(ngModel)]="quizz.level"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Thứ tự</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.order"/>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <small>Đường dẫn bài học</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.lessonLink"/>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <small>Giáo viên hợp tác</small>
                    <div>
                        <span class="p-input-icon-right">
                            <p-multiSelect [filter]="false" class="input" [options]="teacherOptions" [(ngModel)]="quizz.teacherIds" defaultLabel="Chọn giáo viên" option display="chip" name="teacherSelected"></p-multiSelect>
                        </span>
                    </div>
                </div>
                <div class="col-12 ckeditor">
                    <small>Nội dung câu hỏi</small>
                    <ckeditor [editor]="Editor" [(ngModel)]="quizz.content"></ckeditor>
                </div>
            </div>
            <div class="actions">
                <button>Thêm trả lời</button>
                <button>Lưu lại</button>
            </div>
        </div>
        <div class="actions" *ngIf="quizz.id != quizzEdit">
            <button (click)="editQuizz(quizz)" style="color: #007bff;">Sửa</button>
            <button style="color: #dc3545;">Xóa</button>
        </div>
    </div>
</div>