<div class="quizz" *ngFor="let quizz of test.quizzs; let i=index" [key]="quizz.id">
    <div class="header">
        <span style="display: flex; align-items: center;">Câu hỏi {{i+1}}</span>
        <div>
            <span *ngIf="quizz.id != quizzEdit">{{quizz.point}} điểm</span>
            <div *ngIf="isEdit && quizz.id == quizzEdit" class="point">
                <input type="number" [(ngModel)]="quizz.point" />
                <span style="margin-left: 5px;">điểm</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div *ngIf="quizz.id != quizzEdit" id="content" class="title_quizz" [innerHTML]="quizz.content"></div>
        <div *ngIf="isEdit && quizz.id == quizzEdit" class="quizz_editor">
            <div class="grid detail">
                <div class="col-12">
                    <small>Tên câu hỏi</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.name"/>
                        </span>
                    </div>
                </div>
                <div class="col-3">
                    <small>Loại câu hỏi</small>
                    <div class="input">
                        <p-dropdown [options]="questionTypeOptions" [(ngModel)]="quizz.testQuestionTypeCode"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Nhóm câu hỏi</small>
                    <div class="input">
                        <p-dropdown [options]="questionGroupOptions" [(ngModel)]="quizz.testQuestionGroupId"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Độ khó</small>
                    <div class="input">
                        <p-dropdown [options]="levelOptions" [(ngModel)]="quizz.level"></p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <small>Thứ tự</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.order"/>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <small>Đường dẫn bài học</small>
                    <div>
                        <span class="input p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText [(ngModel)]="quizz.lessonLink"/>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <small>Giáo viên hợp tác</small>
                    <div>
                        <span class="p-input-icon-right">
                            <p-multiSelect [filter]="false" class="input" [options]="teacherOptions" [(ngModel)]="quizz.collabTeacher" optionValue="id" optionLabel="name" defaultLabel="Chọn giáo viên" option display="chip" name="teacherSelected"></p-multiSelect>
                        </span>
                    </div>
                </div>
                <div class="col-12 ckeditor">
                    <small>Nội dung câu hỏi</small>
                    <ckeditor [editor]="Editor" [(ngModel)]="quizz.content"></ckeditor>
                </div>
                <div class="col-12">
                    <app-kt-mot-nhieu-lua-chon (saveEditQuizz)="saveEditQuizz($event)" *ngIf="quizz.testQuestionTypeCode === 'nhieu_lua_chon' || quizz.testQuestionTypeCode === 'mot_lua_chon'" [index]="i" [questionType]="quizz.testQuestionTypeCode" [answerList]="quizz.testQuestionAnswers" [quizz]="quizz"></app-kt-mot-nhieu-lua-chon>
                    <app-kt-dung-sai (saveEditQuizz)="saveEditQuizz($event)" *ngIf="quizz.testQuestionTypeCode === 'dung_sai'" [questionType]="quizz.testQuestionTypeCode" [index]="i" [answerList]="quizz.testQuestionAnswers" [quizz]="quizz"></app-kt-dung-sai>
                    <app-kt-dien-vao-cho-trong (saveEditQuizz)="saveEditQuizz($event)" *ngIf="quizz.testQuestionTypeCode === 'dien_vao_cho_trong'" [answerList]="quizz.testQuestionAnswers" [index]="i" [quizz]="quizz"></app-kt-dien-vao-cho-trong>
                    <app-kt-phu-hop (saveEditQuizz)="saveEditQuizz($event)" *ngIf="quizz.testQuestionTypeCode === 'phu_hop'" [answerList]="quizz.testQuestionAnswers" [index]="i" [quizz]="quizz"></app-kt-phu-hop>
                </div>
            </div>
        </div>
        <div class="actions" *ngIf="quizz.id != quizzEdit">
            <button (click)="editQuizz(quizz)" style="color: #007bff;">Sửa</button>
            <button style="color: #dc3545;">Xóa</button>
        </div>
    </div>
</div>