<div class="user-wrapper">
  <<div class="header">
    <div class="guide">
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Danh sách Khóa học</div>
      </div>
      <div class="header-right">
        <p-dropdown [options]="classList" label="Lớp học" [(ngModel)]="params.classId" (onChange)="getSubject(params.classId)"></p-dropdown>
        <p-dropdown [options]="subjectList" label="Môn học" [(ngModel)]="params.subjectId" (onChange)="getCourse()"></p-dropdown>
      </div>
    </div>
  </div>
</div>