<div class="user-wrapper">
  <div class="header">
    <div class="guide">
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Danh sách Khóa học</div>
      </div>
      <div class="header-right">
        <p-dropdown [options]="classList" label="Lớp học" [(ngModel)]="params.classId" (onChange)="getSubject(params.classId)"></p-dropdown>
        <p-dropdown [options]="subjectList" label="Môn học" [(ngModel)]="params.subjectId" (onChange)="getCourse()"></p-dropdown>
      </div>
    </div>
  </div>
  <div class="all-course">
    <div class="course-item" *ngFor="let course of courses" [routerLink]="['/mon-hoc', course.id]">
      <img class="image" [src]="course.courseAvatar" />
      <div class="text">
        <div class="name">{{course.name}}</div>
        <div class="futer">
          <div class="rating">
            <p-rating [(ngModel)]="course.rating" [cancel]="false" [readonly]="true"></p-rating>
          </div>
          <div class="price">
            <div *ngIf="course.priceDiscount != 0" class="priceDiscount">{{course.priceDiscount | number}} đ</div>
            <div class="final-price">{{course.price | number}} đ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>