/* You can add global styles to this file, and also import other style files */
p, button, div, a {
  font-family: 'Quicksand', sans-serif !important;
  /* font-size: 16px; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.ck-content {
  min-height: 200px;
}

.p-element .p-datatable-table {
  font-size: 15px;
}

.p-submenu-list {
  z-index: 10000 !important;
}

.p-datatable-thead {
  z-index: -100;
}
.header-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .header-left {
    display: flex;
    margin: 10px 0;
    .empty {
      background-color: #0073ffe8;
      border-radius: 12px;
      box-shadow: 2px 2px 3px #007bffb3;
      width: 5px;
    }
    .main-title {
      color: #0059ce;
      font-size: 22px;
      font-weight: bolder;
      padding: 3px 10px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    > * {
      margin: 0 5px;
    }
    > *:last-child {
      margin-right: 0px;
    }
    .search-btn {
      display: flex;
      .btn {
        &:hover {
          background-color: red;
        }
      }
      .p-inputtext {
        border-radius: 0;
        border: 1px solid rgba(43,47,51,.15);
        border-right: 0;
        box-shadow: none;
        outline: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius:4px;
        font-size: 15px;
      }
      .p-button {
        border-radius: 0;
        background: #fff !important;
        border: 1px solid rgba(43,47,51,.15);
        border-left: 0;
        background-color: transparent;
        color: #007bff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .p-inputtext {
      height: 40px;
      width: 200px;
    }
    .p-button {
      height: 40px;
      background: #007bff;
      border: 1px solid #007bff;
    }
    .p-button-label {
      font-size: 15px;
      font-weight: 600;
    }
    .p-button-icon {
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.p-datatable-wrapper {
  max-height: 65vh;
}

.tabView .p-datatable-wrapper {
  max-height: 60vh;
}

// .treeTable .p-datatable-wrapper {
//   max-height: auto;
// }

.p-datatable {
  i {
    font-size: 16px;
  }
  .p-overlaypanel .p-overlaypanel-content{
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
  }
}

.choose {
  border-radius: 40%;
  padding: 5px;
  i {
    font-size: 15px;
    color: #0b5ed7;
  }
  &:hover {
    cursor: pointer;
    background-color: #dee3e9;
  }
}
.option {
  font-size: 15px;
  padding: 10px 5px;
  &:hover {
    background-color: #dee3e9;
    cursor: pointer;
  }
  i{
    margin: 0 5px;
    font-size: 15px;
  }
}

.guide {
  margin-top: 5px;
  color: rgba(43,47,51,.4);
  font-weight: 500;
  span {
    i {
      font-size: 16px;
    }
  }
  i {
    margin: 0 5px;
  }
  i:hover {
    cursor: pointer;
  }
  span:hover { 
    cursor: pointer;
  }
  .active {
    color: #0059ce;
    font-weight: 600;
  }
}

.colorful {
  padding: 4px 5px;
  border-radius: 12px;

}
.fail {
  background-color: #dc3545;
  color: #fff;
}

.passed {
  background-color: #007bff;
  color: #fff;
  
}

.p-overlaypanel {
  .search_advance {
    padding: 5px;
    .search_advance_title {
      font-weight: 600;
      padding: 10px 0;
      font-size: 16px;
    }
    .search_advance_main {
      padding: 0 10px;
      margin: 0;
      width: 100%;
      small {
        font-size: 13px;
      }
      .p-dropdown {
        width: 100%;
        height: 40px;
      }
      .p-dropdown-label {
        font-size: 16px;
      }
      .p-dropdown-item {
        font-size: 14px;
      }
    }
    .search_advance_actions {
      padding: 20px 15px 0 15px;
      width: 100%;
      display: flex;
      justify-content: end;
      & > * {
        padding: 0 3px;
      }
      & > *:last-child {
        padding-right: 0px;
      }
      .p-button {
        .p-button-icon {
          font-size: 14px;
        }
        .p-button-label {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}