/* You can add global styles to this file, and also import other style files */
p, button, div, a {
  font-family: 'Quicksand', sans-serif !important;
  /* font-size: 16px; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.ck-content {
  min-height: 200px;
}

.p-element .p-datatable-table {
  font-size: 15px;
}