p, button, div, a {
  font-family: 'Quicksand', sans-serif !important;
  /* font-size: 16px; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.ck-content {
  min-height: 200px;
  max-height: 500px;
}

.kt-chi-tiet {
  .ck-content {
    min-height: 200px;
    max-height: 450px !important;
  }
}

.p-element .p-datatable-table {
  font-size: 15px;
}

.p-submenu-list {
  z-index: 10000 !important;
}

.p-datatable-thead {
  z-index: -100;
}

.user-wrapper {
  width: 65%;
  margin: 0 auto;
}

// .p-toast-top-right {
//   width: 300px;
//   .p-toast-message-icon {
//     font-size: 25px;  
//   }
//   .p-toast-message-text {
//     font-size: 14px;
//   }
// }choose
.header-left {
  display: flex;
  margin: 10px 0;
  .empty {
    background-color: #0073ffe8;
    border-radius: 12px;
    box-shadow: 2px 2px 3px #007bffb3;
    width: 5px;
  }
  .main-title {
    color: #0c0c0c;
    font-size: 22px;
    font-weight: bolder;
    padding: 3px 10px;
  }
}

.p-dropdown-item {
  font-size: 14px;
}

.header-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    .filter {
      .p-dropdown {
        width: 100%;
      }
    }
    > * {
      margin: 0 5px;
    }
    > *:last-child {
      margin-right: 0px;
    }
    .p-dropdown-label {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    
    .search-btn {
      display: flex;
      .btn {
        &:hover {
          background-color: red;
        }
      }
      .p-inputtext {
        border-radius: 0;
        border: 1px solid rgba(43,47,51,.15);
        border-right: 0;
        box-shadow: none;
        outline: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius:4px;
        font-size: 15px;
        // background: #f7f7fc;
        // border: 1px solid #f1f1fc;
      }
      .p-button {
        // background: #f7f7fc !important;
        border-radius: 0;
        border: 1px solid rgba(43,47,51,.15);
        border-left: 0;
        // border-right: 0;
        background-color: transparent;
        color: #007bff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .p-inputtext {
      height: 40px;
      width: 200px;
    }
    .p-button {
      height: 40px;
      background: #007bff;
      border: 1px solid #007bff;
    }
    .p-button-label {
      font-size: 15px;
      font-weight: 600;
    }
    .p-button-icon {
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.p-datatable-wrapper {
  max-height: 65vh;
  // z-index: -100000;
  //   position: inherit;
}

// .tabView .p-datatable-wrapper {
//   max-height: 60vh;
// }

// .treeTable .p-datatable-wrapper {
//   max-height: auto;
// }

.p-datatable {
  i {
    font-size: 16px;
  }
  .p-overlaypanel .p-overlaypanel-content{
    padding: 10px 0 !important;
    
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
  }
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 10px 0 !important;
}

.choose {
  padding: 5px;
  display: flex;
  i {
    border-radius: 40%;
    padding: 3px;
    margin: 0 7px;
    font-size: 15px;
    color: #0b5ed7;
    > *:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #dee3e9;
    }
  }
}
.option {
  font-size: 15px;
  padding: 10px 5px;
  &:hover {
    background-color: #dee3e9;
    cursor: pointer;
  }
  i{
    margin: 0 5px;
    font-size: 15px;
  }
}

.guide {
  margin-top: 5px;
  color: rgba(43,47,51,.4);
  font-weight: 500;
  span {
    font-size: 16px;
    i {
      margin: 0;
      font-size: 16px;
    }
  }
  i {
    margin: 0 10px;
  }
  i:hover {
    cursor: pointer;
  }
  span:hover { 
    cursor: pointer;
  }
  .active {
    color: #0059ce;
    font-weight: 600;
  }
}

.colorful {
  padding: 4px 5px;
  border-radius: 12px;

}
.fail {
  background-color: #dc3545;
  color: #fff;
}

.passed {
  background-color: #007bff;
  color: #fff;
  
}

.p-overlaypanel {
  .search_advance {
    padding: 5px;
    .search_advance_title {
      font-weight: 600;
      padding: 10px 0;
      font-size: 16px;
    }
    .search_advance_main {
      padding: 0 10px;
      margin: 0;
      width: 100%;
      small {
        font-size: 13px;
      }
      .p-dropdown {
        width: 100%;
        height: 40px;
      }
      .p-dropdown-label {
        font-size: 16px;
      }
    }
    .search_advance_actions {
      padding: 20px 15px 0 15px;
      width: 100%;
      display: flex;
      justify-content: end;
      & > * {
        padding: 0 3px;
      }
      & > *:last-child {
        padding-right: 0px;
      }
      .p-button {
        .p-button-icon {
          font-size: 14px;
        }
        .p-button-label {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

// .p-dialog {
//   width: 75%;
//   margin: 0 auto;
//   height: 600px;
// }

@media only screen and (max-width: 1280px) {
  // .p-dialog {
  //   width: 95%;
  //   margin: 0 auto;
  //   height: 600px;
  // }
  .user-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .detail {
    .detail-action {
      right: 2.5% !important;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .p-tree-selectable {
    width: 48vw !important;
  }
}

.dialog-wrapper {
  .p-input-icon-right {
    width: 100%;
    height: 40px;
    .p-inputtext {
      width: 100%;
      height: 40px;
    }
  }
  .p-dropdown {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .p-multiselect {
    height: 40px;
    width: 100%;
  }
  small {
    font-size: 14px;
    padding-left: 5px;
  }
  .p-treeselect {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    .p-tree-selectable {
      z-index: 100;
      position: fixed;
      width: 530px;
      border: 1px solid #dee2e6 !important;
    }
    .p-treenode-content {
      font-size: 14px;
    }
    .p-tree-toggler-icon {
      font-size: 14px;
    }
    .p-highlight {
      background: #007bff;
      color: #fff;
    }
  }
}
.p-dialog {
  .p-dialog-header {
    display: flex;
    justify-content: center;
    .p-dialog-title {
      font-size: 18px;
    }
    .p-dialog-header-icons {
      display: none;
    }
  }
}

.detail {
  font-size: 16px;
  small {
    margin-bottom: 3px;
  }
  .p-dropdown {
    height: 40px;
    display: flex;
    align-items: center;
    background: #f7f7fc;
    border: 1px solid #f7f7fc;
    .p-dropdown-label {
      font-size: 14px;
    }
  }
  .p-multiselect {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    .p-multiselect-label-container {
      font-size: 13px;
    }
    .p-multiselect-item  {
      font-size: 14px;
    }
  }
  .disabled {
    .p-inputtext {
      background: #d8d8d8 !important;
    }
  }
  .p-input-icon-right {
    width: 100%;
    height: 40px;
    i {
      font-size: 13px;
    }
    .p-inputtext {
      background: #f7f7fc;
      border: 1px solid #f1f1fc;
      font-size: 14px;
      width: 100%;
      height: 40px;
      &:focus {
        border-color: #007bff !important;
      }
    }
    .p-inputtext.p-disabled {
      background: #d8d8d8;
    }
  }
  .p-calendar {
    width: 100%;
  }
  .inputSwitch {
    display: flex;
    align-items: center;
    small {
      margin-bottom: 0;
    }
    .p-inputswitch {
      margin: 5px 5px 0 5px;
      height: 20px;
      width: 40px;
    }
  }
  .ckeditor {
    padding: 10px 0;
  }
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(2rem);
  }
  .p-inputswitch-slider {
    height: 20px;
    width: 40px;
  }
  .detail-action {
    position: fixed;
    bottom: 10px;
    right: 15%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: end;
    & > * {
      margin: 0px 5px;
    }
    & > :last-child {
      margin-right: 0;
    }
    .p-button {
      height: 40px;
      background: #007bff;
      border: 1px solid #007bff;
    }
    .p-button-label {
      font-size: 15px;
      // font-weight: 600;
    }
    .p-button-icon {
      font-size: 15px;
      // font-weight: 600;
    }
    .cancel-btn {
      .p-button {
        background-color: #fff;
        border: 1px solid;
        color: #007bff;
      }
    }
  }
  .p-chips {
    width: 100%;
    height: 40px;
    .p-chips-multiple-container {
      background: #f1f1fc;
      border: 1px solid #f1f1fc;
      width: 100%;
    }
    .p-chips-token {
      background: #007bff !important;
      color: #fff !important;
    }
    .p-chips-token-label {
      font-size: 15px;
    }
    .p-chips-token-icon {
      font-size: 14px;
    }
    .p-chips-input-token {
      input {
        font-size: 14px !important;
      }
    }
  }
  .p-tabview-nav-content {
    font-size: 15px;
    .p-tabview-nav {
      .p-tabview-nav-link {
        text-decoration: none !important;
        .p-tabview-left-icon {
          font-size: 17px;
        }
      }
    }
  }
  .p-tabview-panels {
    font-size: 15px;
  }
}

.wrapper {
  .p-datatable .p-datatable-thead > tr > th {
    background: #afd0f1;
  }
  .p-datatable .p-sortable-column {
    &:hover {
      background: #8fb9e2 !important;
    }
  }
  .p-datatable .p-sortable-column:focus {
    background: #8fb9e2 !important;
  }
  .p-accordion-header-link {
    font-size: 14px;
    background: #007bffd3 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    color: #fff !important;
    text-decoration: none;
    color: #fff !important;
    &:hover {
      text-decoration: none;
      color: #fff !important;
    }
  }
  .p-accordion .p-accordion-content {
    padding: 10px;
  }
}

.title {
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  position: relative;
  .label {
    font-size: 23px;
    font-weight: bolder;
    color: #000;
  }
  .empty-title {
    height: 5px;
    background-color: rgba(0, 115, 247, 0.5);
    border-radius: 40%;
    position: absolute;
    width: 300px;
    bottom: 3px;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
  }
}

.content {
  margin: 10px 0;
  .bg {
    .content {
      background: rgba(0,126,252,.651);
      border: 5px solid hsla(0,0%,100%,.493) !important;
      border-radius: 5px;
      color: #fff;
      &:hover {
        background: #1e90ff !important;
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
  
  .main-content {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    .content {
      padding: 10px;
      display: grid;
      // justify-content: center;
      border: 5px solid transparent;
      text-align: center;
      &:hover {
        background: rgba(30,143,255,.555);
        border: 5px solid hsla(0,0%,100%,.493);
        cursor: pointer;
        transition: .3s ease-in-out;
      }
      .image {
        width: 100%;
        height: 100%;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .text {
        margin-top:10px ;
      }
    }
  }
}

.p-confirm-dialog {
  .p-dialog-content {
    font-size: 14px;
  }
  .p-dialog-footer {
    .p-confirm-dialog-reject {
      background: #fff;
      color: #3B82F6;
      font-size: 13px;
      margin: 0 1rem 0 0 !important;
    }
    .p-confirm-dialog-accept {
      font-size: 13px;
    }
  }
}

.p-dialog {
  .p-multiselect  {
    .p-multiselect-label-container {
      display: flex;
      align-items: center;
    }
    .p-multiselect-token {
      font-size: 14px;
      background: #007bff !important;
      color: #fff !important;
    }
    .p-multiselect-token-icon {
      font-size: 13px;
    }
    .p-multiselect-item {
      font-size: 13px;
    }
  }
  .p-input-icon-right {
    .p-inputtext {
      font-size: 14px;
    }
    i {
      font-size: 14px !important;
    }
  }
}

.p-autocomplete {
  width: 100%;
  .p-autocomplete-input {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  .p-autocomplete-items {
    z-index: 1000;
    position: fixed;
    width: 470px;
    background: #fff;
    border: 1px solid #dee2e6;
  }
}

.info-input {
    p {
      // margin: 0 !important;
      margin: 0 0 3px 10px !important;
    }
    .p-inputtext {
      height: 40px;
      font-size: 16px;
      padding-left: 15px;
    }
}

.p-tree-wrapper {
  .p-treenode-content {
    padding: 10px 0 !important;
    .p-tree-toggler {
      margin-left: 10px;
    }
  }
  .p-treenode-icon {
    font-size: 16px;
  }
  .p-treenode-label {
    font-size: 15px;
  }
}
