<div class="wrapper">

  <!-- <div style="text-align: center;" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  
  <div class="grid" *ngIf="!isLoading">
    <div class="col-4">
      <button class="btn btn-success" [routerLink]="['them-lop-hoc']">Thêm lớp học</button>
    </div>
  
    <div class="col-8">
      <div style="float: right;">
        <span class="p-input-icon-right">
          <i (click)="onSearch()" class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Tìm kiếm" name="search" [(ngModel)]="search" />
        </span>
      </div>
    </div>
  </div> -->

  <div class="header">
    <div class="guide">
      <span><i class="pi pi-home"></i></span>
      <i>/</i>
      <span>Quản trị</span>
      <i>/</i>
      <span class="active">Lớp học</span>
    </div>
    <div class="header-2">
      <div class="header-left">
        <div class="empty"></div>
        <div class="main-title">Lớp học</div>
      </div>
      <div class="header-right">
        <!-- <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText />
        </span> -->
        <div class="search-btn">
          <input placeholder="Nhập nội dung tìm kiếm" type="text" pInputText [(ngModel)]="params.filter"/>
          <p-button class="btn p-button-outlined" type="button" icon="pi pi-search" pButton (click)="onSearch()"></p-button>
        </div>
        <!-- <p-button label="Bộ lọc" icon="pi pi-sliders-h" iconPos="left"></p-button> -->
        <p-button [routerLink]="['them-lop-hoc']" label="Thêm mới" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </div>
  </div>
  
  <p-table [value]="classrooms" responsiveLayout="scroll" *ngIf="!isLoading" rowHover="true">
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="width: 50px">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pFrozenColumn style="width: 50px;"></th>
            <th style="width: 150px">Hình ảnh</th>
            <th >Tên</th>
            <th>Hiển thị</th>
            <th >Sắp xếp</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-classroom>
        <tr>
            <td pFrozenColumn>
              <p-tableCheckbox [value]="classroom"></p-tableCheckbox>
            </td>
            <td pFrozenColumn>
              <span class="choose" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></span>
            </td>
            <td style="width: 150px" >
              <img [src]="defaultAvatar" [alt]="classroom.name" width="80" class="shadow-4" />
            </td>
            <td>{{classroom.name}}</td>
            <td>
              <span class="colorful" [ngClass]="classroom.status == 0 ? 'fail' : 'passed' " *ngIf="classroom.status == 1">Hiển thị</span>
              <span class="colorful" [ngClass]="classroom.status == 0 ? 'fail' : 'passed' " *ngIf="classroom.status == 0">Ẩn</span>
            </td>
            <td >
              {{classroom.order}}
            </td>
        </tr>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '180px'}">
          <ng-template pTemplate>
              <div class="option" [routerLink]="[classroom.id]">
                  <i class="pi pi-pencil"></i> Sửa
              </div>
              <div class="option" (click)="onDeleteClassroom(classroom.id)">
                  <i class="pi pi-trash"></i> Xóa
              </div>
          </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-table>
  
  <p-paginator *ngIf="!isLoading" [rows]="params.pageSize" [totalRecords]="params.totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20]"></p-paginator>
</div>


