.wrapper { 

  grid-gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.detail-right {
  border-radius: 8px;
  border: 1px solid hsla(0,0%,50%,.486)
}

.detail-right img {
  width: 100%;
  border-radius: 5px;
  /* height: 100px; */
}

.detail-name { 
  width: 100%;
  text-align: end;
}

.detail-price {
  margin-top: 25px;
  width: 100%;
  text-align: end;
}

.detail-price .pre-price {
  text-decoration: line-through;
}

.price {
  margin-left: 8px; 
  font-weight: bold;
  font-size: 20px;
}

::ng-deep .detail-btn .p-button {
  background: #007bffd3;
  border: none;
  border-radius: 12px;
  box-shadow: inset 0 -6px 0 0 rgb(0 0 0 / 25%);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  width: 100%;
}