<div class="header-wrapper">
  <div class="header-content">
    <div class="logo" >
      <img class="image" src="https://hochieuqua7.web.app/images/logo.png" width="75px" height="65px" routerLink=""/>
    </div>

    <div class="search">
    </div>

    <div [ngClass]="isToken ? 'none' : 'action' " >
      <div class="login">
        <p-button [routerLink]="['/dang-nhap']" label="Đăng nhập"></p-button>
      </div>
      <div class="signup">
        <p-button [routerLink]="['/dang-ky']" label="Đăng ký"></p-button>
      </div>
    </div>

    <div [ngClass]="isToken ? 'logined' : 'none' ">
      <div class="bell" (click)="op.toggle($event)">
        <i class="pi pi-bell"></i>
        <i *ngIf="newNoti" class="pi pi-circle-fill circleFill"></i>
      </div>
      <!-- <div (click)="op2.toggle($event)">
        <i style="font-size: 18px; margin-right: 18px;" class="pi pi-slack"></i>
      </div> -->
      <div class="avatar">
        <img [src]="userData?.avatar" (error)="errorHandler($event)"/>
      </div>
      <div class="info">
        <p>{{userData?.username}}</p>
      </div>
      <div class="optionn">
        <p-splitButton [model]="items"></p-splitButton>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '400px'}">
  <ng-template pTemplate>
    <div class="noti-wrapper">
      <div class="noti-item flex" *ngFor="let notee of noti" (click)="setRead(notee); op.toggle($event)">
        <div *ngIf="notee.fromAvatar" class="noti-ava">
          <img [src]="notee.fromAvatar" width="60px" height="60px"/>
        </div>
        <div *ngIf="!notee.fromAvatar" class="noti-ava">
          <img src="https://hochieuqua7.web.app/images/menu/account.png" width="60px" height="60px"/>
        </div>
        <div class="noti-info" [ngClass]="{isRead: notee.isRead == 0}">
          <div>{{notee.title}}</div>
          <div>{{notee.createdDate}}</div>
        </div>
        <div class="noti-isRead" *ngIf="notee.isRead == 0">
          <i class="pi pi-circle-fill"></i>
        </div>
      </div>
      <hr>
      <div (click)="op.toggle($event)" class="view-more" [routerLink]="['/thong-bao/all']">
        Xem thêm
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #op2 styleClass="choose-language" [style]="{'z-index': 99999}">
  <ng-template pTemplate="content">
    <h3>{{"_select_language_" | translate}}</h3>
    <ul class="list-lang">
      <li class="active" [ngClass]="{'active': translate.currentLang === 'vi'}"
        (click)="translate.use('vi');op2.toggle($event);saveLang('vi')">
        <div class="d-flex middle gap-10">
          <span class="uni-icon uni-flag-vn"></span>
          <span>{{"_vietnamese_" | translate}}</span>
          <span class="checked" *ngIf="translate.currentLang === 'vi'">
            <i class="uni-icon uni-vector uni-blue-color"></i>
          </span>
        </div>
      </li>
      <li (click)="translate.use('en');op2.toggle($event);saveLang('en')"
        [ngClass]="{'active': translate.currentLang === 'en'}">
        <div class="d-flex middle gap-10">
          <span class="uni-icon uni-flag-en"></span>
          <span>{{"_english_" | translate}}</span>
          <span class="checked" *ngIf="translate.currentLang === 'en'">
            <i class="uni-icon uni-vector uni-blue-color"></i>
          </span>
        </div>
      </li>
    </ul>
  </ng-template>
</p-overlayPanel>