<div class="header-wrapper">
  <div class="header-content">
    <div class="logo" >
      <img class="image" src="https://hochieuqua7.web.app/images/logo.png" width="75px" height="65px" routerLink=""/>
    </div>
    <div class="search">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" />
      </span>
    </div>

    <div [ngClass]="isToken ? 'none' : 'action' " >
      <div class="login">
        <p-button [routerLink]="['/dang-nhap']" label="Đăng nhập"></p-button>
      </div>
      <div class="signup">
        <p-button [routerLink]="['/dang-ky']" label="Đăng ký"></p-button>
      </div>
    </div>

    <div [ngClass]="isToken ? 'logined' : 'none' ">
      <div class="bell">
        <i class="pi pi-bell" (click)="op.toggle($event)"></i>
      </div>
      <div class="avatar">
        <img [src]="defaultAvatar"/>
      </div>
      <div class="info">
        <p>{{userData?.username}}</p>
      </div>
      <div class="optionn">
        <p-splitButton [model]="items"></p-splitButton>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '450px'}">
  <ng-template pTemplate>
      ABC
  </ng-template>
</p-overlayPanel>