.header-wrapper {
  width: 100%;
  height: 70px;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.action {
  display: flex;
}

.info p {
  margin: 0;
}

::ng-deep .login .p-button {
  border: none ;
  color: #3B82F6 ;
  background-color: #fff ;
  border-radius: 2px ;
}

::ng-deep .login .p-button:hover {
  background-color: rgba(33,150,243,.04) ;
  color: #3B82F6 ;
}

::ng-deep .signup .p-button {
  border: none;
  border-radius: 2px;
}

.logo {
  width: 30%;
}

.search {
  width: 40%;
}

.image {
  float: right;
}

.none {
  display: none;
}

.logined {
  align-items: center;
  display: flex;
}

::ng-deep .logined .p-splitbutton-defaultbutton {
  display: none;
}

.logined .avatar img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 5px;
}

/* 
::ng-deep .option ul {
  width: 200px;
}

::ng-deep .option li {
  width: 200px;
} */

::ng-deep .optionn ul {
  font-size: 13px;
}

::ng-deep .optionn .p-button {
  background: #fff;
  border-radius: 0px;
  border: none;
  color: blue
}

::ng-deep .optionn .p-button:hover {
  background: rgb(206, 178, 178);
  cursor: pointer;
}

.bell {
  margin-top: 4px;
  margin-right: 25px;
  position: relative;
  i {
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}

.circleFill {
  position: absolute;
  top: -5px;
  right: -3px;
  font-size: 12px !important;
  color: red;
}

.noti-item {
  border-radius: 3px;
  margin: 10px 0;
  position: relative;
  &:hover {
    background: #becedfbf;
    cursor: pointer;
  }
}

.noti-isRead {
  height: 90%;
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  i {
    color: #007bff;
    font-size: 13px;
  }
}

.isRead {
  color: #007bff;
}

.noti-info {
  font-size: 15px;
}

hr {
  margin: 15px 0;
}

.view-more {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: blue;
  &:hover {
    cursor: pointer;
  }
}