<!-- <img style="margin: 10px;" [src]="" width="250" alt="" /> -->

<div style="text-align: center;" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<form (ngSubmit)="onSubmit()" *ngIf="editFAQ">

  <div class="field">
    <label for="usernameInput" class="block">Tiêu đề</label>
    <br>
    <input formGroupName="usernameInput" class="p-inputtext-lg" id="username" type="text" aria-describedby="username-help" pInputText name="title" [(ngModel)]="editFAQ.title" />
  </div>

  <div class="field">
    <label for="orderInput" class="block">Thứ tự</label>
    <br>
    <input class="p-inputtext-lg" id="sapxep" type="number" aria-describedby="username1-help" pInputText name="order" [(ngModel)]="editFAQ.order" />
  </div>

  <label for="checked" class="block">Hiển thị</label>
  <br>
  <p-toggleButton name="status" [(ngModel)]="editFAQ.status"></p-toggleButton>
  <br>

  <label for="content" class="block">Nội dung bài viết</label>
  <br>
  <!-- <ckeditor [editor]="Editor" name="content" [(ngModel)]="editFAQ.content"></ckeditor> -->
  <ckeditor [editor]="Editor" name="content" [(ngModel)]="editFAQ.content"></ckeditor>

  <br>

  <button style="margin: 10px" pButton pRipple label="Cancel" icon="pi pi-times"></button>
  <button 
    style="margin: 10px" 
    type="submit" 
    pButton pRipple 
    label="Save" 
    icon="pi pi-check"
    >
  </button>
</form>



